
<div id="page_caption" class="hasbg parallax " style="background-image:url(~/upload/pexels-photo-197657.jpg);">
            <div class="single_tour_header_content">
                <div class="standard_wrapper">
                    <a href="~/upload/pexels-photo-24377.jpg" id="single_tour_gallery_open" class="button fancy-gallery"><span class="ti-camera"></span>View Photos</a>
                    <div style="display:none;">
                        <a id="single_tour_gallery_image1" href="~/upload/pexels-photo-96420.jpeg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image2" href="~/upload/Tokyo_Dollarphotoclub_72848283-copy.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image3" href="~/upload/venice-WBEUROCITIES16.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image4" href="~/upload/pexels-photo-197657.jpeg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image5" href="~/upload/bf1202aedf2c5b6a57d379575619a488.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image6" href="~/upload/pexels-photo-24484.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image7" href="~/upload/39267772-prague-wallpapers.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                    </div>

                    <a href="#video_review168" id="single_tour_video_preview_open" class="button" data-type="inline"><span class="ti-control-play"></span>Video Preview</a>

                    <div id="video_review168" class="tour_video_preview_wrapper" style="display:none;">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/CwA0w3CFhjU" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="single_tour_header_price">
                        <div class="single_tour_price">
                            <span class="normal_price">
                            $6,700                      
                        </span> 
                        $6,200 
                    </div>
                        <div class="single_tour_per_person">
                            Người </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">
            <div class="inner">

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="sidebar_wrapper">

                        <div class="sidebar_top"></div>

                        <div class="sidebar">

                            <div class="content">

                                <div class="single_tour_header_price">
                                    <div class="single_tour_price">
                                        <span class="normal_price">
                                            $6,700 
                                        </span> 
                                        $6,200 
                                    </div>
                                    <div class="single_tour_per_person">
                                        Người </div>
                                </div>

                                <div class="single_tour_booking_wrapper themeborder contact_form7">
                                    <div role="form" class="wpcf7" id="wpcf7-f142-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">

                                            <p>
                                                <label> Tên Đầy Đủ
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="John Doe" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Email 
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="sample@yourcompany.com" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Số Điện Thoại
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap tel-729"><input type="tel" name="tel-729" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Ngày Đi
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap menu-419">
                                                        <select name="menu-419" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                                                            <option value="10-18 January 2017">10-18 January 2017</option>
                                                            <option value="23-31 January 2017">23-31 January 2017</option>
                                                            <option value="7-15 February 2017">7-15 February 2017</option>
                                                            <option value="18-26 February 2017">18-26 February 2017</option>
                                                        </select>
                                                    </span> 
                                                </label>
                                            </p>
                                            <p>
                                                <label> Số Lượng Hành Khách
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap text-237">
                                                        <input type="text" name="text-237" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="1 person" />
                                                    </span> 
                                                </label>
                                                <span class="wpcf7-form-control-wrap dynamictourtitle">
                                                    <input type="hidden" name="dynamictourtitle" value="Grand Switzerland" size="40" class="wpcf7-form-control wpcf7dtx-dynamictext wpcf7-dynamichidden" aria-invalid="false" />
                                                </span>
                                                <span class="wpcf7-form-control-wrap dynamictoururl">
                                                    <input type="hidden" name="dynamictoururl" value="#" size="40" class="wpcf7-form-control wpcf7dtx-dynamictext wpcf7-dynamichidden" aria-invalid="false" />
                                                </span>
                                            </p>
                                            <p>
                                                <input type="submit" value="Book Ngay!" class="wpcf7-form-control wpcf7-submit" />
                                            </p>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                    <div class="single_tour_view_wrapper themeborder">
                                        <div class="single_tour_view_desc">
                                            This tour&#039;s been viewed&nbsp;544&nbsp;times in the past week </div>

                                        <div class="single_tour_view_icon ti-alarm-clock"></div>
                                    </div>
                                    <br class="clear" />
                                </div>

                                <a id="single_tour_share_button" href="javascript:;" class="button ghost themeborder"><span class="ti-email"></span>Chia sẽ tour</a>

                                <ul class="sidebar_widget">
                                    <li id="text-3" class="widget widget_text">
                                        <h2 class="widgettitle">Thông Tin Thêm</h2>
                                        <div class="textwidget"><span class="ti-mobile" style="margin-right:10px;"></span>1-567-124-44227
                                            <br/>
                                            <span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00</div>
                                    </li>
                                    <li id="grandtour_tour_posts-11" class="widget Grandtour_Tour_Posts">
                                        <h2 class="widgettitle"></h2>
                                        <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(~/upload/pexels-photo-197657-700x466.jpg);">
                                            <a class="tour_image" href="#"></a>
                                            <div class="portfolio_info_wrapper">
                                                <div class="tour_price ">
                                                    $6,000 </div>
                                                <h5>Khám Phá Iceland</h5>
                                                <div class="tour_attribute_wrapper">
                                                    <div class="tour_attribute_rating">
                                                        <div class="br-theme-fontawesome-stars-o">
                                                            <div class="br-widget">
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br class="clear" />
                                        <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(~/);">
                                            <a class="tour_image" href="#"></a>
                                            <div class="portfolio_info_wrapper">
                                                <div class="tour_price ">
                                                    $5,900 </div>
                                                <h5>Hàn Quốc Vào Mùa Thu</h5>
                                                <div class="tour_attribute_wrapper">
                                                    <div class="tour_attribute_rating">
                                                        <div class="br-theme-fontawesome-stars-o">
                                                            <div class="br-widget">
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br class="clear" />
                                    </li>
                                </ul>

                                <div class="single_tour_users_online_wrapper themeborder">
                                    <div class="single_tour_users_online_icon">
                                        <span class="ti-info-alt"></span>
                                    </div>
                                    <div class="single_tour_users_online_content">
                                        <strong>131</strong> traveler(s) are considering our tours right now! </div>
                                </div>

                            </div>

                        </div>
                        <br class="clear" />

                        <div class="sidebar_bottom"></div>
                    </div>
                    <div class="sidebar_content ">

                        <h1>Khám Phá Châu Âu</h1>
                        <div class="single_tour_attribute_wrapper themeborder ">
                            <div class="one_fourth">
                                <div class="tour_attribute_icon ti-time"></div>
                                <div class="tour_attribute_content">
                                    3&nbsp;days </div>
                            </div>

                            <div class="one_fourth">
                                <div class="tour_attribute_icon ti-id-badge"></div>
                                <div class="tour_attribute_content">
                                    Age 12+ </div>
                            </div>

                            <div class="one_fourth">
                                <div class="tour_attribute_icon ti-calendar"></div>
                                <div class="tour_attribute_content">
                                    Sep,&nbsp;Oct,&nbsp;Nov,&nbsp;Dec </div>
                            </div>

                            <div class="one_fourth last">
                                <div class="tour_attribute_icon ti-user"></div>
                                <div class="tour_attribute_content">
                                    Availability 50 </div>
                            </div>

                        </div>
                        <br class="clear" />
                        <div class="single_tour_content">
                            <h4 class="p1">Day 1</h4>
                            <p class="p1">Thời gian lý tưởng nhất để du lịch Nhật Bản tự túc là vào nửa cuối tháng 3 đến nửa đầu tháng 4 – lúc hoa anh đào nở rộ và từ nửa cuối tháng 10 đến nửa đầu tháng 11 – là thời kỳ du khách có thể ngắm lá vàng lá đỏ tại đây. Ngoài ra, nếu bạn là người thích mua sắm có thể đến Nhật vào mùa giảm giá vào tháng 7 và tháng 8 hoặc vào dịp Tết.</p>
                            <div id="attachment_48" style="width: 1034px" class="wp-caption alignnone"><img class="wp-image-48 size-large" src="~/upload/Tokyo_Dollarphotoclub_72848283-copy-1024x683.jpg" width="1024" height="683" />
                                <p class="wp-caption-text">The road to success and the road to failure are almost exactly the same</p>
                            </div>
                            <h4 class="p1">Day 2</h4>
                            <p class="p1">– Giấy xin nghỉ phép của công ty (ghi rõ họ tên, bộ phận đang làm việc, chức vụ, số ngày nghỉ, các cấp bậc sếp đồng ý cho nghỉ và đóng dấu công ty).

– Giấy xác nhận của công ty chứng nhận rõ có tên bạn, chức vụ, mức lương và mục đích của việc xác nhận này là hỗ trợ cho bạn đi xin visa.

– Hợp đồng lao động.

– Sao kê bảng lương 3 tháng liên tiếp gần nhất.</p>
                            <h4 class="p1">Day 3</h4>
                            <p – Lịch trình của chuyến đi. Không đơn giản chỉ là vài gạch đầu dòng ngày nào ở đâu. Tốt nhất bạn nên làm lịch trình của mình chi tiết nhất có thể. Bạn phải chắc chắn lịch trình của mình có các yếu tố đi đâu, đi bằng gì và ở đâu.

– Booking vé máy bay và khách sạn: Booking khách sạn bằng đủ số ngày bạn ở lại Nhật. Vé máy bay khứ hồi. Để tránh tình trạng hồ sơ bạn không được chấp nhận visa (điều vẫn có thể xảy ra), bạn có thể vào các webiste booking như: iVIVU.com,… và tìm khách sạn.</p>
                            <div id="attachment_169" style="width: 1034px" class="wp-caption alignnone"><img class="wp-image-169 size-large" src="~/upload/pexels-photo-1-1024x683.jpg" width="1024" height="683" />
                                <p class="wp-caption-text">Emotional discomfort, when accepted, rises, crests and falls in a series of waves.</p>
                            </div>
                            <h4 class="p1">Day 4</h4>
                            <p class="p1">Sau đó bạn nộp hồ sơ ở Đại sứ quán Nhật Bản địa chỉ 27 Liễu Giai, Quận Ba Đình, Hà Nội hoặc Lãnh sứ quán Nhật, 261 Điện Biên Phủ, Quận 3, TP.Hồ Chí Minh. Thời hạn nhận hồ sơ xin visa vào các buổi sáng trong tuần từ 8h30 -11h. Buổi chiều chỉ để trả kết quả visa thôi.
                            </p>
                            <p class="p1"><span class="s1">Nhật Bản là đất nước có nền văn hóa đặc sắc cùng một hành trình lịch sử thú vị. Ngoài những trung tâm văn hóa và kinh tế nổi tiếng như Tokyo, Osaka, Kyoto hay các khung cảnh quen thuộc như núi Phú Sĩ, băng tuyết ở Hokkaido, biển Okinawa,… Nhật Bản còn còn có nhiều điểm đến với bề dày lịch sử đáng kinh ngạc cũng như những thắng cảnh đẹp mê hồn. Người Nhật chăm chỉ, cần cù và kỷ luật đã tạo nên những công trình hoành tráng và giữ gìn thiên nhiên tạo hóa ban cho.</span></p>

                            <p class="p1"><span class="s1">Được UNESCO công nhận là di sản thế giới vào năm vào năm 2003, quần thể kiến trúc Phật giáo Horyuji là quốc bảo của du lịch Nhật Bản nằm ở tỉnh Nara. Trong số các công trình trong quần thể này, đáng chú ý nhất là chùa Horyuji (Pháp Long học vấn tự) có một số tòa kiến trúc bằng gỗ cổ nhất thế giới, và chùa Hokkiji với tượng Bồ Tát Quán Thế Âm 11 mặt.</span></p>
                        </div>

                        <ul class="single_tour_departure_wrapper themeborder">
                            <li>
                                <div class="single_tour_departure_title">Departure</div>
                                <div class="single_tour_departure_content">San Francisco International Airport</div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Departure Time</div>
                                <div class="single_tour_departure_content">Please arrive by 10:20 AM for a prompt departure at 10:50 AM</div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Return Time</div>
                                <div class="single_tour_departure_content">Approximately 8:30 PM</div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Included</div>
                                <div class="single_tour_departure_content">
                                    <div class="one_half ">
                                        <span class="ti-check"></span>Airfare </div>
                                    <div class="one_half last">
                                        <span class="ti-check"></span>Local transportation </div>
                                    <div class="one_half ">
                                        <span class="ti-check"></span>5 Star Accomodation </div>
                                    <div class="one_half last">
                                        <span class="ti-check"></span>Professional Guide </div>
                                </div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Not Included</div>
                                <div class="single_tour_departure_content">
                                    <div class="one_half ">
                                        <span class="ti-close"></span>Departure Taxes </div>
                                    <div class="one_half last">
                                        <span class="ti-close"></span>Entry Fees </div>
                                </div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Maps</div>
                                <div class="single_tour_departure_content">
                                    <div class="map_shortcode_wrapper" id="map1568200871211588506" style="width:1000px;height:300px">
                                        <div class="map-marker" data-address="California" data-icon="~/upload/map_marker.png"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="fullwidth_comment_wrapper sidebar">

                            <h3 class="comment_title">4 Đánh giá</span></h3>
                            <div class="avg_comment_rating_wrapper themeborder">
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Accomodation</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Nơi đến</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Thức ăn</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Vận chuyển</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Giá tiền</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Tổng</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a name="comments"></a>

                                <div class="comment" id="comment-20">
                                    <div class="gravatar">
                                        <img src="~/upload/author1-100x100.jpg" width="60" height="60" alt="Jack Dawson" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" /> </div>

                                    <div class="right ">

                                        <h7>Nam Luân</h7>

                                        <div class="comment_date">December 15, 2016 at 3:02 pm</div>
                                        <a rel='nofollow' class='comment-reply-link' href='#' aria-label='Reply to Jack Dawson'>Reply</a>
                                        <div class="comment_text" />
                                        <p>Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko tempor duis single-origin coffee. Banksy, elit small batch freegan sed.</p>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Chổ ở</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Đánh giá</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Thức ăn</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Vận chuyển</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Tiền tệ</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Tổng </div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br class="clear" />
                            </li>
                            <!-- #comment-## -->

                            <div class="comment" id="comment-21">
                                <div class="gravatar">
                                    <img src="~/upload/me-100x100.jpg" width="60" height="60" alt="Anna Kornikova" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" /> </div>

                                <div class="right ">

                                    <h7>Lâm Tuyền</h7>

                                    <div class="comment_date">December 15, 2016 at 3:02 pm</div>
                                    <a rel='nofollow' class='comment-reply-link' href='#' aria-label='Reply to Anna Kornikova'>Reply</a>
                                    <div class="comment_text" />
                                    <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean vinegar stumptown yr pop-up artisan sunt. Craft beer elit seitan exercitation, photo booth,</p>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Chổ ỏ</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Đánh giá</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;"></a>
                                                <a href="javascript:;"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Thức ăn</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Vận chuyển</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;"></a>
                                                <a href="javascript:;"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Tiền tệ</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Tổng</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                        </li>
                        <!-- #comment-## -->

                        <div class="comment" id="comment-22">
                            <div class="gravatar">
                                <img src="~/upload/avatar-100x100.png" width="60" height="60" alt="Marie Argeris" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" /> </div>

                            <div class="right ">

                                <h7>Lê Phương trinh</h7>

                                <div class="comment_date">December 15, 2016 at 3:02 pm</div>
                                <a rel='nofollow' class='comment-reply-link' href='#' aria-label='Reply to Marie Argeris'>Reply</a>
                                <div class="comment_text" />
                                <p>Statement buttons cover-up tweaks patch pockets perennial lapel collar flap chest pockets topline stitching cropped jacket. Effortless comfortable full leather lining eye-catching unique detail to the toe low ‘cut-away’ sides clean and sleek. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design.</p>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Chổ ở</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Đánh giá</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Thức ăn</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Vận chuyển</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Tiền Tệ</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Tổng</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br class="clear" />
                    </li>
                    <!-- #comment-## -->

                    <div class="comment" id="comment-23">
                        <div class="gravatar">
                            <img src="~/upload/author2-100x100.jpg" width="60" height="60" alt="Jessica Medina" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" /> </div>

                        <div class="right ">

                            <h7>Hoàng Thiên</h7>

                            <div class="comment_date">December 15, 2016 at 3:02 pm</div>
                            <a rel='nofollow' class='comment-reply-link' href='#' aria-label='Reply to Jessica Medina'>Reply</a>
                            <div class="comment_text" />
                            <p>Foam padding in the insoles leather finest quality staple flat slip-on design pointed toe off-duty shoe. Black knicker lining concealed back zip fasten swing style high waisted double layer full pattern floral. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design.</p>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Chổ ở</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;"></a>
                                        <a href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Đánh giá</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Đồ ăn</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Vận chuyển</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Tiền tệ</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Tổng</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clear" />
                </li>
                <!-- #comment-## -->
            </div>

            <!-- End of thread -->
            <div style="height:10px"></div>

            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">Để lại lời nhắn <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>
                <form action="#" method="post" id="commentform" class="comment-form">
                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                    <p class="comment-form-comment">
                        <label for="comment">Lời nhắn</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                    </p>
                    <p class="comment-form-author">
                        <label for="author">Tên <span class="required">*</span></label>
                        <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' />
                    </p>
                    <p class="comment-form-email">
                        <label for="email">Email <span class="required">*</span></label>
                        <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' />
                    </p>
                    <p class="comment-form-url">
                        <label for="url">Website</label>
                        <input id="url" name="url" type="text" value="" size="30" maxlength="200" />
                    </p>
                    <p class="comment-form-rating">
                        <label for="accomodation_rating">Địa chỉ</label>
                        <span class="commentratingbox">
                        <select id="accomodation_rating" name="accomodation_rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="destination_rating">Đánh giá</label>
                        <span class="commentratingbox">
                        <select id="destination_rating" name="destination_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="meals_rating">Meals</label>
                        <span class="commentratingbox">
                        <select id="meals_rating" name="meals_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="transport_rating">Transport</label>
                        <span class="commentratingbox">
                        <select id="transport_rating" name="transport_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="value_rating">Value For Money</label>
                        <span class="commentratingbox">
                        <select id="value_rating" name="value_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="overall_rating">Overall</label>
                        <span class="commentratingbox">
                        <select id="overall_rating" name="overall_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p>
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" class="submit" value=" Gửi Lời Nhắn" /> 
                        </p>            
                    </form>
                </div><!-- #respond -->

            </div>

            </div>      
        </div>
    </div>
    <!-- End main content -->

    <br class="clear"/>
    <div class="tour_related">
        <h3 class="sub_title">Tour Tương Tự</h3>
        <div id="portfolio_filter_wrapper" class="gallery classic three_cols portfolio-content section content clearfix" data-columns="3">
            <div class="element grid classic3_cols">
            <div class="one_third gallery3 classic static filterable portfolio_type themeborder" data-id="post-171">

                <a class="tour_image" href="#">
                    <img src="~/upload/pexels-photo-1-700x466.jpg" alt="Great Britain Travel" />
                    <div class="tour_price has_discount">
                        <span class="normal_price">
                                $6,000                                              
                        </span> $5,900 
                    </div>
                </a>

                <div class="portfolio_info_wrapper">
                    <a class="tour_link" href="#"><h4>Khám Phá Anh Quốc</h4></a>
                    <div class="tour_excerpt">
                        <p>City Tours, Urban</p>
                    </div>
                    <div class="tour_attribute_wrapper">
                        <div class="tour_attribute_rating">
                            <div class="br-theme-fontawesome-stars-o">
                                <div class="br-widget">
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="tour_attribute_rating_count">
                                4&nbsp; đánh giá </div>
                        </div>

                        <div class="tour_attribute_days">
                            <span class="ti-time"></span> 5&nbsp;days </div>
                    </div>
                    <br class="clear" />
                </div>
            </div>
        </div>
        <div class="element grid classic3_cols">
            <div class="one_third gallery3 classic static filterable portfolio_type themeborder" data-id="post-173">

                <a class="tour_image" href="#">
                    <img src="~/upload/pexels-photo-115070-700x466.jpeg" alt="Hong Kong" />
                    <div class="tour_price has_discount">
                        <span class="normal_price">
                           $3,000                              
                       </span> $2,400 
                   </div>
                </a>

                <div class="portfolio_info_wrapper">
                    <a class="tour_link" href="#"><h4>Hong Kong</h4></a>
                    <div class="tour_excerpt">
                        <p>Iconic, Shopping, City Tours</p>
                    </div>
                    <div class="tour_attribute_wrapper">
                        <div class="tour_attribute_rating">
                            <div class="br-theme-fontawesome-stars-o">
                                <div class="br-widget">
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;"></a>
                                    <a href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="tour_attribute_rating_count">
                                4&nbsp; reviews </div>
                        </div>

                        <div class="tour_attribute_days">
                            <span class="ti-time"></span> 1&nbsp;day </div>
                    </div>
                    <br class="clear" />
                </div>
            </div>
        </div>
        <div class="element grid classic3_cols">
            <div class="one_third gallery3 classic static filterable portfolio_type themeborder" data-id="post-176">

                <a class="tour_image" href="#">
                    <img src="~/upload/bf1202aedf2c5b6a57d379575619a488-700x466.jpg" alt="Seoul Your Soul" />
                    <div class="tour_price ">
                        $5,900 </div>
                </a>

                <div class="portfolio_info_wrapper">
                    <a class="tour_link" href="#"><h4>Hàn Quốc Hoa Anh Đào</h4></a>
                    <div class="tour_excerpt">
                        <p>City Tours, Shopping</p>
                    </div>
                    <div class="tour_attribute_wrapper">
                        <div class="tour_attribute_rating">
                            <div class="br-theme-fontawesome-stars-o">
                                <div class="br-widget">
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;" class="br-selected"></a>
                                    <a href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="tour_attribute_rating_count">
                                4&nbsp; reviews </div>
                        </div>

                        <div class="tour_attribute_days">
                            <span class="ti-time"></span> 5&nbsp;days </div>
                    </div>
                    <br class="clear" />
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    <br class="clear" />
    </div>