
        <div id="page_caption" class="hasbg parallax  " style="background-image:url(upload/pexels-photo-115070.jpeg);">
            <div class="single_tour_header_content">
                <div class="standard_wrapper">
                    <a href="upload/pexels-photo-24377.jpg" id="single_tour_gallery_open" class="button fancy-gallery"><span class="ti-camera"></span>View Photos</a>
                    <div style="display:none;">
                        <a id="single_tour_gallery_image1" href="upload/pexels-photo-96420.jpeg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image2" href="upload/Tokyo_Dollarphotoclub_72848283-copy.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image3" href="upload/venice-WBEUROCITIES16.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image4" href="upload/pexels-photo-197657.jpeg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image5" href="upload/bf1202aedf2c5b6a57d379575619a488.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image6" href="upload/pexels-photo-24484.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                        <a id="single_tour_gallery_image7" href="upload/39267772-prague-wallpapers.jpg" title="The road to success and the road to failure are almost exactly the same" class="fancy-gallery"></a>
                    </div>

                    <a href="#video_review168" id="single_tour_video_preview_open" class="button" data-type="inline"><span class="ti-control-play"></span>Video Preview</a>

                    <div id="video_review168" class="tour_video_preview_wrapper" style="display:none;">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/CwA0w3CFhjU" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="single_tour_header_price">
                        <div class="single_tour_price">
                            <span class="normal_price">
                            $6,700                      
                        </span> 
                        $6,200 
                    </div>
                        <div class="single_tour_per_person">
                            Per Person </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">
            <div class="inner">

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="sidebar_wrapper">

                        <div class="sidebar_top"></div>

                        <div class="sidebar">

                            <div class="content">

                                <div class="single_tour_header_price">
                                    <div class="single_tour_price">
                                        <span class="normal_price">
                                            $6,700 
                                        </span> 
                                        $6,200 
                                    </div>
                                    <div class="single_tour_per_person">
                                        Per Person </div>
                                </div>

                                <div class="single_tour_booking_wrapper themeborder contact_form7">
                                    <div role="form" class="wpcf7" id="wpcf7-f142-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">

                                            <p>
                                                <label> Full Name
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="John Doe" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Email Address
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="sample@yourcompany.com" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Phone Number
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap tel-729"><input type="tel" name="tel-729" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Tour Date
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap menu-419">
                                                        <select name="menu-419" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                                                            <option value="10-18 January 2017">10-18 January 2017</option>
                                                            <option value="23-31 January 2017">23-31 January 2017</option>
                                                            <option value="7-15 February 2017">7-15 February 2017</option>
                                                            <option value="18-26 February 2017">18-26 February 2017</option>
                                                        </select>
                                                    </span> 
                                                </label>
                                            </p>
                                            <p>
                                                <label> Number of Person
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap text-237">
                                                        <input type="text" name="text-237" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="1 person" />
                                                    </span> 
                                                </label>
                                                <span class="wpcf7-form-control-wrap dynamictourtitle">
                                                    <input type="hidden" name="dynamictourtitle" value="Grand Switzerland" size="40" class="wpcf7-form-control wpcf7dtx-dynamictext wpcf7-dynamichidden" aria-invalid="false" />
                                                </span>
                                                <span class="wpcf7-form-control-wrap dynamictoururl">
                                                    <input type="hidden" name="dynamictoururl" value="#" size="40" class="wpcf7-form-control wpcf7dtx-dynamictext wpcf7-dynamichidden" aria-invalid="false" />
                                                </span>
                                            </p>
                                            <p>
                                                <input type="submit" value="Book This Tour" class="wpcf7-form-control wpcf7-submit" />
                                            </p>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                    <div class="single_tour_view_wrapper themeborder">
                                        <div class="single_tour_view_desc">
                                            This tour&#039;s been viewed&nbsp;544&nbsp;times in the past week </div>

                                        <div class="single_tour_view_icon ti-alarm-clock"></div>
                                    </div>
                                    <br class="clear" />
                                </div>

                                <a id="single_tour_share_button" href="javascript:;" class="button ghost themeborder"><span class="ti-email"></span>Share this tour</a>

                                <ul class="sidebar_widget">
                                    <li id="text-3" class="widget widget_text">
                                        <h2 class="widgettitle">For More Informations</h2>
                                        <div class="textwidget"><span class="ti-mobile" style="margin-right:10px;"></span>1-567-124-44227
                                            <br/>
                                            <span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00</div>
                                    </li>
                                    <li id="grandtour_tour_posts-11" class="widget Grandtour_Tour_Posts">
                                        <h2 class="widgettitle"></h2>
                                        <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(upload/pexels-photo-197657-700x466.jpeg);">
                                            <a class="tour_image" href="#"></a>
                                            <div class="portfolio_info_wrapper">
                                                <div class="tour_price ">
                                                    $6,000 </div>
                                                <h5>Hong Kong</h5>
                                                <div class="tour_attribute_wrapper">
                                                    <div class="tour_attribute_rating">
                                                        <div class="br-theme-fontawesome-stars-o">
                                                            <div class="br-widget">
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br class="clear" />
                                        <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(upload/bf1202aedf2c5b6a57d379575619a488-700x466.jpg);">
                                            <a class="tour_image" href="#"></a>
                                            <div class="portfolio_info_wrapper">
                                                <div class="tour_price ">
                                                    $5,900 </div>
                                                <h5>Seoul Your Soul</h5>
                                                <div class="tour_attribute_wrapper">
                                                    <div class="tour_attribute_rating">
                                                        <div class="br-theme-fontawesome-stars-o">
                                                            <div class="br-widget">
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br class="clear" />
                                    </li>
                                </ul>

                                <div class="single_tour_users_online_wrapper themeborder">
                                    <div class="single_tour_users_online_icon">
                                        <span class="ti-info-alt"></span>
                                    </div>
                                    <div class="single_tour_users_online_content">
                                        <strong>131</strong> traveler(s) are considering our tours right now! </div>
                                </div>

                            </div>

                        </div>
                        <br class="clear" />

                        <div class="sidebar_bottom"></div>
                    </div>
                    <div class="sidebar_content ">

                        <h1>Tokyo</h1>
                        <div class="single_tour_attribute_wrapper themeborder ">
                            <div class="one_fourth">
                                <div class="tour_attribute_icon ti-time"></div>
                                <div class="tour_attribute_content">
                                    3&nbsp;days </div>
                            </div>

                            <div class="one_fourth">
                                <div class="tour_attribute_icon ti-id-badge"></div>
                                <div class="tour_attribute_content">
                                    Age 12+ </div>
                            </div>

                            <div class="one_fourth">
                                <div class="tour_attribute_icon ti-calendar"></div>
                                <div class="tour_attribute_content">
                                    Sep,&nbsp;Oct,&nbsp;Nov,&nbsp;Dec </div>
                            </div>

                            <div class="one_fourth last">
                                <div class="tour_attribute_icon ti-user"></div>
                                <div class="tour_attribute_content">
                                    Availability 50 </div>
                            </div>

                        </div>
                        <br class="clear" />
                        <div class="single_tour_content">
                            <h4 class="p1">Day 1</h4>
                            <p class="p1">Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse.</p>
                            <div id="attachment_48" style="width: 1034px" class="wp-caption alignnone"><img class="wp-image-48 size-large" src="upload/Tokyo_Dollarphotoclub_72848283-copy-1024x683.jpg" width="1024" height="683" />
                                <p class="wp-caption-text">The road to success and the road to failure are almost exactly the same</p>
                            </div>
                            <h4 class="p1">Day 2</h4>
                            <p class="p1">Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean vinegar stumptown yr pop-up artisan sunt. Craft beer elit seitan exercitation, photo booth,</p>
                            <h4 class="p1">Day 3</h4>
                            <p class="p1">Foam padding in the insoles leather finest quality staple flat slip-on design pointed toe off-duty shoe. Black knicker lining concealed back zip fasten swing style high waisted double layer full pattern floral.</p>
                            <div id="attachment_169" style="width: 1034px" class="wp-caption alignnone"><img class="wp-image-169 size-large" src="upload/pexels-photo-1-1024x683.jpg" width="1024" height="683" />
                                <p class="wp-caption-text">Emotional discomfort, when accepted, rises, crests and falls in a series of waves.</p>
                            </div>
                            <h4 class="p1">Day 4</h4>
                            <p class="p1">Leather detail shoulder contrastic colour contour stunning silhouette working peplum. Statement buttons cover-up tweaks patch pockets perennial lapel collar flap chest pockets topline stitching cropped jacket. Effortless comfortable full leather lining eye-catching unique detail to the toe low</p>
                            <p class="p1"><span class="s1">Foam padding in the insoles leather finest quality staple flat slip-on design pointed toe off-duty shoe. Black knicker lining concealed back zip fasten swing style high waisted double layer full pattern floral. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design.</span></p>
                            <p class="p1"><span class="s1">See-through delicate embroidered organza blue lining luxury acetate-mix stretch pleat detailing. Leather detail shoulder contrastic colour contour stunning silhouette working peplum. Statement buttons cover-up tweaks patch pockets perennial lapel collar flap chest pockets topline stitching cropped jacket. Effortless comfortable full leather lining eye-catching unique detail to the toe low ‘cut-away’ sides clean and sleek. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design.</span></p>
                        </div>

                        <ul class="single_tour_departure_wrapper themeborder">
                            <li>
                                <div class="single_tour_departure_title">Departure</div>
                                <div class="single_tour_departure_content">San Francisco International Airport</div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Departure Time</div>
                                <div class="single_tour_departure_content">Please arrive by 10:20 AM for a prompt departure at 10:50 AM</div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Return Time</div>
                                <div class="single_tour_departure_content">Approximately 8:30 PM</div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Included</div>
                                <div class="single_tour_departure_content">
                                    <div class="one_half ">
                                        <span class="ti-check"></span>Airfare </div>
                                    <div class="one_half last">
                                        <span class="ti-check"></span>Local transportation </div>
                                    <div class="one_half ">
                                        <span class="ti-check"></span>5 Star Accomodation </div>
                                    <div class="one_half last">
                                        <span class="ti-check"></span>Professional Guide </div>
                                </div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Not Included</div>
                                <div class="single_tour_departure_content">
                                    <div class="one_half ">
                                        <span class="ti-close"></span>Departure Taxes </div>
                                    <div class="one_half last">
                                        <span class="ti-close"></span>Entry Fees </div>
                                </div>
                            </li>

                            <li>
                                <div class="single_tour_departure_title">Maps</div>
                                <div class="single_tour_departure_content">
                                    <div class="map_shortcode_wrapper" id="map1568200871211588506" style="width:1000px;height:300px">
                                        <div class="map-marker" data-address="California" data-icon="upload/map_marker.png"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="fullwidth_comment_wrapper sidebar">

                            <h3 class="comment_title">4 Reviews</span></h3>
                            <div class="avg_comment_rating_wrapper themeborder">
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Accomodation</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Destination</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Meals</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Transport</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Value For Money</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Overall</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a name="comments"></a>

                                <div class="comment" id="comment-20">
                                    <div class="gravatar">
                                        <img src="upload/author1-100x100.jpg" width="60" height="60" alt="Jack Dawson" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" /> </div>

                                    <div class="right ">

                                        <h7>Jack Dawson</h7>

                                        <div class="comment_date">December 15, 2016 at 3:02 pm</div>
                                        <a rel='nofollow' class='comment-reply-link' href='#' aria-label='Reply to Jack Dawson'>Reply</a>
                                        <div class="comment_text" />
                                        <p>Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko tempor duis single-origin coffee. Banksy, elit small batch freegan sed.</p>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Accomodation</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Destination</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Meals</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Transport</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Value For Money</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment_rating_wrapper">
                                            <div class="comment_rating_label">Overall</div>
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br class="clear" />
                            </li>
                            <!-- #comment-## -->

                            <div class="comment" id="comment-21">
                                <div class="gravatar">
                                    <img src="upload/me-100x100.jpg" width="60" height="60" alt="Anna Kornikova" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" /> </div>

                                <div class="right ">

                                    <h7>Anna Kornikova</h7>

                                    <div class="comment_date">December 15, 2016 at 3:02 pm</div>
                                    <a rel='nofollow' class='comment-reply-link' href='#' aria-label='Reply to Anna Kornikova'>Reply</a>
                                    <div class="comment_text" />
                                    <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean vinegar stumptown yr pop-up artisan sunt. Craft beer elit seitan exercitation, photo booth,</p>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Accomodation</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Destination</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;"></a>
                                                <a href="javascript:;"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Meals</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Transport</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;"></a>
                                                <a href="javascript:;"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Value For Money</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment_rating_wrapper">
                                        <div class="comment_rating_label">Overall</div>
                                        <div class="br-theme-fontawesome-stars-o">
                                            <div class="br-widget">
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;" class="br-selected"></a>
                                                <a href="javascript:;"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                        </li>
                        <!-- #comment-## -->

                        <div class="comment" id="comment-22">
                            <div class="gravatar">
                                <img src="upload/avatar-100x100.png" width="60" height="60" alt="Marie Argeris" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" /> </div>

                            <div class="right ">

                                <h7>Marie Argeris</h7>

                                <div class="comment_date">December 15, 2016 at 3:02 pm</div>
                                <a rel='nofollow' class='comment-reply-link' href='#' aria-label='Reply to Marie Argeris'>Reply</a>
                                <div class="comment_text" />
                                <p>Statement buttons cover-up tweaks patch pockets perennial lapel collar flap chest pockets topline stitching cropped jacket. Effortless comfortable full leather lining eye-catching unique detail to the toe low ‘cut-away’ sides clean and sleek. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design.</p>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Accomodation</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Destination</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Meals</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Transport</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Value For Money</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_rating_wrapper">
                                    <div class="comment_rating_label">Overall</div>
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br class="clear" />
                    </li>
                    <!-- #comment-## -->

                    <div class="comment" id="comment-23">
                        <div class="gravatar">
                            <img src="upload/author2-100x100.jpg" width="60" height="60" alt="Jessica Medina" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" /> </div>

                        <div class="right ">

                            <h7>Jessica Medina</h7>

                            <div class="comment_date">December 15, 2016 at 3:02 pm</div>
                            <a rel='nofollow' class='comment-reply-link' href='#' aria-label='Reply to Jessica Medina'>Reply</a>
                            <div class="comment_text" />
                            <p>Foam padding in the insoles leather finest quality staple flat slip-on design pointed toe off-duty shoe. Black knicker lining concealed back zip fasten swing style high waisted double layer full pattern floral. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design.</p>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Accomodation</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;"></a>
                                        <a href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Destination</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Meals</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Transport</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Value For Money</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_rating_wrapper">
                                <div class="comment_rating_label">Overall</div>
                                <div class="br-theme-fontawesome-stars-o">
                                    <div class="br-widget">
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                        <a href="javascript:;" class="br-selected"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clear" />
                </li>
                <!-- #comment-## -->
            </div>

            <!-- End of thread -->
            <div style="height:10px"></div>

            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">Write A Review <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>
                <form action="#" method="post" id="commentform" class="comment-form">
                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                    <p class="comment-form-comment">
                        <label for="comment">Comment</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                    </p>
                    <p class="comment-form-author">
                        <label for="author">Name <span class="required">*</span></label>
                        <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' />
                    </p>
                    <p class="comment-form-email">
                        <label for="email">Email <span class="required">*</span></label>
                        <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' />
                    </p>
                    <p class="comment-form-url">
                        <label for="url">Website</label>
                        <input id="url" name="url" type="text" value="" size="30" maxlength="200" />
                    </p>
                    <p class="comment-form-rating">
                        <label for="accomodation_rating">Accomodation</label>
                        <span class="commentratingbox">
                        <select id="accomodation_rating" name="accomodation_rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="destination_rating">Destination</label>
                        <span class="commentratingbox">
                        <select id="destination_rating" name="destination_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="meals_rating">Meals</label>
                        <span class="commentratingbox">
                        <select id="meals_rating" name="meals_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="transport_rating">Transport</label>
                        <span class="commentratingbox">
                        <select id="transport_rating" name="transport_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="value_rating">Value For Money</label>
                        <span class="commentratingbox">
                        <select id="value_rating" name="value_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p><p class="comment-form-rating"><label for="overall_rating">Overall</label>
                        <span class="commentratingbox">
                        <select id="overall_rating" name="overall_rating"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option></select></p>
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> 
                        </p>            
                    </form>
                </div><!-- #respond -->

            </div>

            </div>      
        </div>