    <div id="page_caption" class="hasbg parallax    " style="background-image:url(upload/pexels-photo-24377.jpg);">

        <div class="page_title_wrapper">
            <div class="page_title_inner">
                <div class="page_title_content">
                    <h1>Tour 2 Columns Classic</h1>
                    <div class="page_tagline">
                        This is sample of page tagline and you can set it up using page option </div>
                </div>
            </div>
        </div>

    </div>

<!-- Begin content -->
    <div id="page_content_wrapper" class="hasbg ">
        <form id="tour_search_form" name="tour_search_form" method="get" action="n">
            <div class="tour_search_wrapper">
                <div class="one_fourth themeborder">
                    <input id="keyword" name="keyword" type="text" autocomplete="off" placeholder="Destination, city" />
                    <span class="ti-search"></span>
                    <div id="autocomplete" class="autocomplete" data-mousedown="false"></div>
                </div>
                <div class="one_fourth themeborder">
                    <select id="month" name="month">
                        <option value="">Any Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                    </select>
                    <span class="ti-calendar"></span>
                </div>
                <div class="one_fourth themeborder">
                    <select id="sort_by" name="sort_by">
                        <option value="date">Sort By Date</option>
                        <option value="price_low">Price Low to High</option>
                        <option value="price_high">Price High to Low</option>
                        <option value="name">Sort By Name</option>
                        <option value="popular">Sort By Popularity</option>
                        <option value="review">Sort By Review Score</option>
                    </select>
                    <span class="ti-exchange-vertical"></span>
                </div>
                <div class="one_fourth last themeborder">
                    <input id="tour_search_btn" type="submit" class="button" value="Search" />
                </div>

                <br class="clear" />
                <div class="tour_advance_search_wrapper">
                    <div class="one_fourth themeborder">
                        <select id="tourcat" name="tourcat">
                            <option value="">All Categories</option>
                            <option value="mountain">Mountain</option>
                            <option value="rural">Rural</option>
                            <option value="snow-ice">Snow &amp; Ice</option>
                            <option value="wildlife">Wildlife</option>
                        </select><span class="ti-angle-down"></span>
                    </div>

                    <div class="one_fourth themeborder">
                        <select id="destination_id" name="destination_id">
                            <option value="">Any Destinations</option>
                            <option value="277">Tokyo</option>
                            <option value="278">Seoul</option>
                            <option value="279">Paris</option>
                            <option value="284">London</option>
                            <option value="285">Venice</option>
                            <option value="287">Miami</option>
                            <option value="289">Rome</option>
                            <option value="270">Prague</option>
                            <option value="291">California</option>
                            <option value="292">Kyoto</option>
                            <option value="293">Hong Kong</option>
                            <option value="294">Santorini</option>
                        </select><span class="ti-angle-down"></span>
                    </div>

                    <div class="one_fourth themeborder">
                        <input id="budget" name="budget" type="text" placeholder="Max budget ex. 500" />
                        <span>$</span>
                    </div>
                </div>

                <div class="tour_advance_search_wrapper_link">
                    <a id="tour_advance_search_toggle" class="theme_link_color" href="javascript:;"><span class="icon ti-angle-down"></span>Advanced Search</a>
                </div>
            </div>
        </form>

        <!-- Begin content -->

        <div class="inner">

            <div class="inner_wrapper nopadding">

                <div id="page_main_content" class="sidebar_content full_width fixed_column">

                    <div class="standard_wrapper">

                        <div id="portfolio_filter_wrapper" class="gallery classic three_cols portfolio-content section content clearfix" data-columns="3">

                            <div class="element grid classic2_cols animated2">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-2">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-211051-700x466.jpeg" alt="French Autumn" />

                                        <div class="tour_price ">
                                            $5,000 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>French Autumn</h4></a>
                                        <div class="tour_excerpt">
                                            <p>City Tours, Urban</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 5&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated3">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-3">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-197657-700x466.jpeg" alt="Grand Switzerland" />

                                        <div class="tour_price ">
                                            $6,000 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Grand Switzerland</h4></a>
                                        <div class="tour_excerpt">
                                            <p>Shopping, Mountain, Snow &#038; Ice</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 6&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated4">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-4">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-96420-700x466.jpeg" alt="Discover Japan" />

                                        <div class="tour_label">Sale</div>

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $3,000                              </span> $2,500 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Discover Japan</h4></a>
                                        <div class="tour_excerpt">
                                            <p>City Tours, Iconic</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 5&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated5">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-5">

                                    <a class="tour_image" href="#">
                                        <img src="upload/Tokyo_Dollarphotoclub_72848283-copy-700x466.jpg" alt="Niko Trip" />

                                        <div class="tour_price ">
                                            $4,000 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Niko Trip</h4></a>
                                        <div class="tour_excerpt">
                                            <p>Mountain, Rural, Urban</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 3&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated6">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-6">

                                    <a class="tour_image" href="#">
                                        <img src="upload/bf1202aedf2c5b6a57d379575619a488-700x466.jpg" alt="Seoul Your Soul" />

                                        <div class="tour_price ">
                                            $5,900 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Seoul Your Soul</h4></a>
                                        <div class="tour_excerpt">
                                            <p>City Tours, Shopping</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 5&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated7">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-7">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-115070-700x466.jpeg" alt="Hong Kong" />

                                        <div class="tour_label">Sale</div>

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $3,000                              </span> $2,400 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Hong Kong</h4></a>
                                        <div class="tour_excerpt">
                                            <p>Iconic, Shopping, City Tours</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 8&nbsp;Hours
                                                <a href="javascript:;" class="tooltip" title="Available on Friday,&nbsp;Saturday,&nbsp;Sunday"><span class="ti-info-alt"></span></a> </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated8">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-8">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-1-700x466.jpg" alt="Great Britain Travel" />

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $6,000                              </span> $5,900 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Great Britain Travel</h4></a>
                                        <div class="tour_excerpt">
                                            <p>City Tours, Urban</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 5&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated9">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-9">

                                    <a class="tour_image" href="#">
                                        <img src="upload/39267772-prague-wallpapers-700x466.jpg" alt="Exclusive Prague Trip" />

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $5,900                              </span> $5,500 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Exclusive Prague Trip</h4></a>
                                        <div class="tour_excerpt">
                                            <p>City Tours, Historic, Park</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 7&nbsp;Hours
                                                <a href="javascript:;" class="tooltip" title="Available on Friday,&nbsp;Saturday,&nbsp;Sunday"><span class="ti-info-alt"></span></a> </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated10">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-10">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-24377-700x466.jpg" alt="The New California" />

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $6,700                              </span> $6,200 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>The New California</h4></a>
                                        <div class="tour_excerpt">
                                            <p>City Tours, Iconic, Rural</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 3&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated11">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-11">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-225630-700x466.jpeg" alt="5 Lake of Fuji San" />

                                        <div class="tour_label">Sale</div>

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $4,900                              </span> $4,200 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>5 Lake of Fuji San</h4></a>
                                        <div class="tour_excerpt">
                                            <p>Mountain, Rural, Urban</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 3&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated12">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-12">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-131729-700x466.jpeg" alt="Swiss Alps Trip" />

                                        <div class="tour_price ">
                                            $3,900 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Swiss Alps Trip</h4></a>
                                        <div class="tour_excerpt">
                                            <p>Shopping, Mountain, Snow &#038; Ice</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 3&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="element grid classic2_cols animated13">

                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-13">

                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-26689-700x466.jpg" alt="Colorful Singapore" />

                                        <div class="tour_label">Sale</div>

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $2,000                              </span> $1,700 </div>
                                    </a>

                                    <div class="portfolio_info_wrapper">
                                        <a class="tour_link" href="#"><h4>Colorful Singapore</h4></a>
                                        <div class="tour_excerpt">
                                            <p>Iconic, Shopping, City Tours</p>
                                        </div>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                                <div class="tour_attribute_rating_count">
                                                    4&nbsp; reviews </div>
                                            </div>

                                            <div class="tour_attribute_days">
                                                <span class="ti-time"></span> 3&nbsp;days </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br class="clear" />

                    </div>
                </div>

            </div>
        </div>
    </div>