

        <div id="page_caption" class="hasbg parallax" style="background-image:url(upload/venice-WBEUROCITIES16.jpg);">

            <div class="page_title_wrapper">
                <div class="page_title_inner">
                    <div class="page_title_content">
                        <h1>FAQs</h1>
                        <div class="page_tagline">
                            This is sample of page tagline and you can set it up using page option </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">
            <div class="inner">

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="sidebar_content full_width nopadding">
                        <div class="sidebar_content page_content">
                            <h3>Payment</h3>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">Are there any extra fees that I will have to pay on top of the listed price?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">Should I print a receipt to show the tour guide?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">How much does it cost to do a private tour?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <p>&nbsp;</p>
                            <h3>Preparation</h3>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">What should I wear?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">What do I need to bring?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">How much does it cost to do a private tour?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <p>&nbsp;</p>
                            <h3>Reservation</h3>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">What is your refund policy?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">Do you offer 30 days money back guarantee?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon">
                                <h3><a href="#">Do I have to make a reservation?</a></h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>

                        </div>

                        <div class="sidebar_wrapper">
                            <div class="sidebar">

                                <div class="content">

                                    <ul class="sidebar_widget">
                                        <li id="text-6" class="widget widget_text">
                                            <h2 class="widgettitle">Can&#8217;t Find Answer? Ask Us</h2>
                                            <div class="textwidget">
                                                <div role="form" class="wpcf7" id="wpcf7-f3075-o1" lang="en-US" dir="ltr">
                                                    <div class="screen-reader-response"></div>
                                                    <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">

                                                        <p>
                                                            <label> Full Name
                                                                <br />
                                                                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="John Doe" /></span> </label>
                                                        </p>
                                                        <p>
                                                            <label> Email Address
                                                                <br />
                                                                <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="sample@yourcompany.com" /></span> </label>
                                                        </p>
                                                        <p>
                                                            <label> Phone Number
                                                                <br />
                                                                <span class="wpcf7-form-control-wrap tel-729"><input type="tel" name="tel-729" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span> </label>
                                                        </p>
                                                        <p>
                                                            <label> Interested In
                                                                <br />
                                                                <span class="wpcf7-form-control-wrap menu-607"><select name="menu-607" class="wpcf7-form-control wpcf7-select" id="interest-trip" aria-invalid="false"><option value="Asia Trip">Asia Trip</option><option value="Europe Trip">Europe Trip</option><option value="North America Trip">North America Trip</option><option value="South America Trip">South America Trip</option><option value="Australia Trip">Australia Trip</option></select></span> </label>
                                                        </p>
                                                        <p>
                                                            <label> Number of Person
                                                                <br />
                                                                <span class="wpcf7-form-control-wrap text-237"><input type="text" name="text-237" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="1 person" /></span> </label>
                                                        </p>
                                                        <p>
                                                            <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit" />
                                                        </p>
                                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="text-7" class="widget widget_text">
                                            <h2 class="widgettitle">More Information</h2>
                                            <div class="textwidget">
                                                <p><span class="ti-mobile" style="margin-right:10px;"></span>1-567-124-44227
                                                    <br />
                                                    <span class="ti-location-pin" style="margin-right:10px;"></span>184 Main Street East Perl Habour 8007
                                                    <br />
                                                    <span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon &#8211; Sat 8.00 &#8211; 18.00 Sunday CLOSED</p>
                                            </div>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            <br class="clear" />
                        </div>
                    </div>

                </div>
                <!-- End main content -->
            </div>
        </div>
        <br class="clear" />
        <br/>