 <!-- Begin template wrapper -->
    <div id="wrapper" class="hasbg transparent">

        <div class="ppb_wrapper  ">
            <div class="one withsmallpadding ppb_header_youtube withbg parallax" style="text-align: center; height: 400px;  background-position: center center; color: rgb(255, 255, 255); z-index: 0;color:#ffffff;background:url(/upload/bg.jpg);">
                <div class="overlay_background" style="text-align: center; height: 400px; background-image: none; background-position: center center; color: rgb(255, 255, 255); z-index: 0;"></div>
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <h2 class="ppb_title" style="color:#ffffff;">Chúng tôi là đối tác du lịch của các quốc gia Hàn Quốc, Đài Loan, Nhật Bản, Singapore</h2>
                                <div class="page_tagline" style="color:#ffffff;">Thiết kế Tour, Plan cho các chuyển đi du lịch</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one withsmallpadding ppb_header " style="text-align:center;padding:50px 0 50px 0;background-color:#000000;color:#ffffff;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:50%">
                                <h2 class="ppb_title" style="color:#ffffff;">Du lịch để khám phá thế giới, để khám phá văn hóa vùng miền.</h2>
                                <div class="ppb_header_content">
                                    <p>"Việt Nam có gì để khám phá?", đã bao giờ bạn nhận được câu hỏi này từ một bạn trẻ nước ngoài đam mê du lịch và bỗng dưng cảm thấy mình thật lúng túng vì chưa đi được bao xa trên đất nước mình. Nhưng bạn biết đấy, cảnh sắc thiên nhiên Việt Nam vô cùng tươi đẹp. Vẻ đẹp đó không phải chỉ khi đoàn làm phim "Kong: Đảo đầu lâu" đến Việt Nam người ta mới nhận ra, mà từ trước đó, nét đẹp ấy đã đủ sức khiến người trẻ Việt sẵn sàng gác công việc bận rộn, để lên đường khám phá. </p>
                                    <p>&nbsp;</p>
                                    <div class="one_half " style="">
                                        <div class="animate_counter_wrapper">
                                            <div id="15688228651662815306" class="odometer" style="font-size:60px;line-height:60px;">1267</div>
                                            <div class="count_separator"><span></span></div>
                                            <div class="counter_subject">Hành Trình</div>
                                        </div>
                                    </div>
                                    <div class="one_half last " style="">
                                        <div class="animate_counter_wrapper">
                                            <div id="1568822865443200426" class="odometer" style="font-size:60px;line-height:60px;">3602</div>
                                            <div class="count_separator"><span></span></div>
                                            <div class="counter_subject">Khách hàng trãi nghiệm</div>
                                        </div>
                                    </div>
                                    <p>
                                        <br class="clear" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one withsmallpadding ppb_contact_half_bg withbg parallax " style="background-image:url(upload/pexels-photo-225630.jpeg);background-position: center center;padding:40px 0 40px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div class="one_half_bg floatright" style="background:#ffffff;background:rgb(255,255,255,1);background:rgba(255,255,255,1);" data-stellar-ratio="1.3">
                                <h2 class="ppb_title" style="">Liên lạc với chúng tôi</h2>
                                <div class="page_tagline" style="">Tiêu đề.</div>
                                <div class="contact_form7_wrapper">
                                    <div role="form" class="wpcf7" id="wpcf7-f3075-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <p>Tên đầy đủ
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="John Doe" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Email
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="sample@yourcompany.com" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Số điện thoại
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap tel-729"><input type="tel" name="tel-729" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span> </label>
                                            </p>
                                            <p>
                                                <label> Bạn quan tâm đến gì
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap menu-607"><select name="menu-607" class="wpcf7-form-control wpcf7-select" id="interest-trip" aria-invalid="false"><option value="Asia Trip">Asia Trip</option><option value="Europe Trip">Europe Trip</option><option value="North America Trip">North America Trip</option><option value="South America Trip">South America Trip</option><option value="Australia Trip">Australia Trip</option></select></span> </label>
                                            </p>
                                            <p>
                                                <label> Số người
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap text-237"><input type="text" name="text-237" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="1 person" /></span> </label>
                                            </p>
                                            <p>
                                                <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit" />
                                            </p>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:60px;margin-bottom:20px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2 class="ppb_title" style="">Đội ngũ của chúng tôi</h2>
                            <div class="page_tagline" style="">Những con người sẽ đồng hành trong suốt chuyến đi của bạn.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_team_column">
            <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column photoframe">
                <div class="standard_wrapper">
                    <div id="1568822865341040745" class="portfolio_filter_wrapper gallery five_cols" data-columns="5">
                        <div class="element grid photoframe fixed_columns classic5_cols animated1">
                            <div class="one_fifth gallery5 classic filterable">
                                <div class="post_img"><img class="team_pic" src="upload/pexels-photo-62365-500x500.jpeg" alt="" />
                                    <ul class="social_wrapper team">
                                        <li><a title="Jessica Lee on Twitter" target="_blank" class="tooltip" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a title="Jessica Lee on Facebook" target="_blank" class="tooltip" href="https://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a title="Jessica Lee on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a title="Jessica Lee on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="portfolio_info_wrapper center">
                                    <h4>Trinh Pham</h4>
                                    <div class="page_tagline">CEO</div>
                                </div>
                            </div>
                        </div>
                        <div class="element grid photoframe fixed_columns classic5_cols animated2">
                            <div class="one_fifth gallery5 classic filterable">
                                <div class="post_img"><img class="team_pic" src="upload/pexels-photo-57759-500x500.jpeg" alt="" />
                                    <ul class="social_wrapper team">
                                        <li><a title="John Bennett on Twitter" target="_blank" class="tooltip" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a title="John Bennett on Facebook" target="_blank" class="tooltip" href="https://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a title="John Bennett on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a title="John Bennett on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="portfolio_info_wrapper center">
                                    <h4>Minh Trí</h4>
                                    <div class="page_tagline">Asia Tour Expert</div>
                                </div>
                            </div>
                        </div>
                        <div class="element grid photoframe fixed_columns classic5_cols animated3">
                            <div class="one_fifth gallery5 classic filterable">
                                <div class="post_img"><img class="team_pic" src="upload/pexels-photo-176045-500x500.jpeg" alt="" />
                                    <ul class="social_wrapper team">
                                        <li><a title="Christina Hardy on Twitter" target="_blank" class="tooltip" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a title="Christina Hardy on Facebook" target="_blank" class="tooltip" href="https://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a title="Christina Hardy on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a title="Christina Hardy on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="portfolio_info_wrapper center">
                                    <h4>Mã Lâm</h4>
                                    <div class="page_tagline">Marketing Manager</div>
                                </div>
                            </div>
                        </div>
                        <div class="element grid photoframe fixed_columns classic5_cols animated4">
                            <div class="one_fifth gallery5 classic filterable">
                                <div class="post_img"><img class="team_pic" src="upload/pexels-photo-167471-500x500.jpeg" alt="" />
                                    <ul class="social_wrapper team">
                                        <li><a title="Oliver Doe on Twitter" target="_blank" class="tooltip" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a title="Oliver Doe on Facebook" target="_blank" class="tooltip" href="https://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a title="Oliver Doe on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a title="Oliver Doe on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="portfolio_info_wrapper center">
                                    <h4>Thiên Minh</h4>
                                    <div class="page_tagline">Europe Tour Expert</div>
                                </div>
                            </div>
                        </div>
                        <div class="element grid photoframe fixed_columns classic5_cols animated5">
                            <div class="one_fifth gallery5 classic filterable">
                                <div class="post_img"><img class="team_pic" src="upload/pexels-photo-48646-1-500x500.jpeg" alt="" />
                                    <ul class="social_wrapper team">
                                        <li><a title="Jane Bennett on Twitter" target="_blank" class="tooltip" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a title="Jane Bennett on Facebook" target="_blank" class="tooltip" href="https://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a title="Jane Bennett on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a title="Jane Bennett on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="portfolio_info_wrapper center">
                                    <h4>Hoàng Lê</h4>
                                    <div class="page_tagline">Customer Support</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
