
<link href="~/css/popup.css" rel="stylesheet" />

<div class="pop-modal open" onclick="this.style.display='none'">
    <div class="pop-modal-content pop-animate-zoom popBox">
        <span class="closeBox">×</span>
        <a target="_blank" href="#"><img id="img01" style="width:100%" src="~/upload/popbg1.jpg"></a>
    </div>
</div>


<a class="btn-popup-left" id="btnUuDai" href="#">Ưu đãi</a>

<div class="popup-left">
    <a class="close" href="#">X</a>
    <img src="~/upload/popbg2.jpg" />
</div>

<div class="ppb_wrapper  ">
    <div class="one withsmallpadding ppb_tour_search_background parallax withbg " style="text-align:center;height:400px;background-image:url(upload/slide_2.jpg);background-position: center center;color:#ffffff;">
        <div class="overlay_background" style="background:#000000;background:rgb(0,0,0,0);background:rgba(0,0,0,0);"></div>
        <div class="center_wrapper">
            <div class="inner_content">
                <div class="standard_wrapper">
                    <h2 class="ppb_title" style="color:#ffffff;">Tìm nơi bạn muốn đến!</h2>
                    <div class="page_tagline" style="color:#ffffff;"><h3>Máy bay, nghỉ ngơi, ăn uống tất cả trong một hành trình.</h3></div>
                    <form id="tour_search_form" class="tour_search_form" method="get" action="#">
                        <div class="tour_search_wrapper">
                            <div class="one_fourth themeborder">
                                <input id="keyword" name="keyword" type="text" autocomplete="off" placeholder="Quốc gia, thành phố" />
                                <span class="ti-search"></span>
                                <div id="autocomplete" class="autocomplete" data-mousedown="false"></div>
                            </div>
                            <div class="one_fourth themeborder">
                                <input id="tour_search_btn" type="submit" class="button" value="Search" />
                            </div>
                            <br class="clear" />
                            <div class="tour_advance_search_wrapper">
                                <div class="one_fourth themeborder">
                                    <select id="tourcat" name="tourcat">
                                        <option value="">All Categories</option>
                                        <option value="mountain">Mountain</option>
                                        <option value="rural">Rural</option>
                                        <option value="snow-ice">Snow &amp; Ice</option>
                                        <option value="wildlife">Wildlife</option>
                                    </select>
                                    <span class="ti-angle-down"></span>
                                </div>
                                <div class="one_fourth themeborder">
                                    <select id="destination_id" name="destination_id">
                                        <option value="">Any Destinations</option>
                                        <option value="277">Tokyo</option>
                                        <option value="278">Seoul</option>
                                        <option value="279">Paris</option>
                                        <option value="284">London</option>
                                        <option value="285">Venice</option>
                                        <option value="287">Miami</option>
                                        <option value="289">Rome</option>
                                        <option value="270">Prague</option>
                                        <option value="291">California</option>
                                        <option value="292">Kyoto</option>
                                        <option value="293">Hong Kong</option>
                                        <option value="294">Santorini</option>
                                    </select>
                                    <span class="ti-angle-down"></span>
                                </div>
                                <div class="one_fourth themeborder">
                                    <input id="budget" name="budget" type="text" placeholder="Max budget ex. 500" />
                                    <span>$</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:20px;">
    <div class="standard_wrapper">
        <div class="page_content_wrapper">
            <div class="inner">
                <div style="margin:auto;width:100%">
                    <h2 class="ppb_title" style="">Điểm đến yêu thích</h2>
                    <div class="page_tagline" style="">Được đón nhận bởi du khách năm qua</div>
                </div>
            </div>
        </div> 
        <div class="ppb_destination_grid one nopadding " style="margin-top:20px;margin-bottom:20px;">
            <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column">
                <div class="standard_wrapper">
                    <div class="portfolio_filter_wrapper gallery grid portrait four_cols" data-columns="4">
                        <div class="element grid baseline classic4_cols animated1">
                            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" style="background-image:url(upload/Tokyo_Dollarphotoclub_72848283-copy-700x466.jpg);">
                                <a class="tour_image" href="/sanpham/chitiet"></a>
                                <div class="portfolio_info_wrapper">
                                    <div class="portfolio_info_content">
                                        <h3>Nhật Bản</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element grid baseline classic4_cols animated2">
                            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" style="background-image:url(upload/bf1202aedf2c5b6a57d379575619a488-700x466.jpg);">
                                <a class="tour_image" href="/sanpham/chitiet"></a>
                                <div class="portfolio_info_wrapper">
                                    <div class="portfolio_info_content">
                                        <h3>Hàn Quốc</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element grid baseline classic4_cols animated3">
                            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" style="background-image:url(upload/1600x1200-4-700x466.jpg);">
                                <a class="tour_image" href="#"></a>
                                <div class="portfolio_info_wrapper">
                                    <div class="portfolio_info_content">
                                        <h3>Pháp</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element grid baseline classic4_cols animated4">
                            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" style="background-image:url(upload/pexels-photo-1-700x466.jpg);">
                                <a class="tour_image" href="#"></a>
                                <div class="portfolio_info_wrapper">
                                    <div class="portfolio_info_content">
                                        <h3>Vương Quốc Anh</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- tour trong nưoc -->
<div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:0px;margin-bottom:20px;">
    <div class="standard_wrapper">
        <div class="page_content_wrapper">
            <div class="inner">
                <div style="margin:auto;width:100%">
                    <a href="/danhsachtour"><h2 class="ppb_title" style="">Tour Trong Nước</h2></a>
                    <div class="page_tagline" style="">Giá tốt nhất từ chúng tôi</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ppb_tour_classic one nopadding " style="margin-bottom:20px;">
    <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column">
        <div class="standard_wrapper">
            <div id="1567589134228149190" class="portfolio_filter_wrapper gallery classic three_cols" data-columns="3">
                <div class="element grid classic3_cols animated1">
                    <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                        <a class="tour_image" href="#">
                            <img src="~/upload/pexels-photo-211051-700x466.jpeg" alt="French Autumn" />
                            <div class="tour_price ">$5,000</div>
                        </a>
                        <div class="portfolio_info_wrapper">
                            <a class="tour_link" href="#"><h4>Mùa Thu Nước Pháp</h4></a>
                            <div class="tour_excerpt">
                                <p>Thánh phố Paris</p>
                            </div>
                            <div class="tour_attribute_wrapper">
                                <div class="tour_attribute_rating">
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                </div>
                                <div class="tour_attribute_days">
                                    <span class="ti-time"></span>5&nbsp;days
                                </div>
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
                <div class="element grid classic3_cols animated2">
                    <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                        <a class="tour_image" href="#">
                            <img src="~/upload/pexels-photo-197657-700x466.jpeg" alt="Grand Switzerland" />
                            <div class="tour_price ">$6,000</div>
                        </a>
                        <div class="portfolio_info_wrapper">
                            <a class="tour_link" href="#"><h4>Thành Phố Đài Bắc</h4></a>
                            <div class="tour_excerpt">
                                <p>Mua sắm, leo nuối, tuyết</p>
                            </div>
                            <div class="tour_attribute_wrapper">
                                <div class="tour_attribute_rating">
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                </div>
                                <div class="tour_attribute_days">
                                    <span class="ti-time"></span>6&nbsp;days
                                </div>
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
                <div class="element grid classic3_cols animated3">
                    <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                        <a class="tour_image" href="#">
                            <img src="~/upload/pexels-photo-96420-700x466.jpeg" alt="Discover Japan" />
                            <div class="tour_label">Sale</div>
                            <div class="tour_price has_discount">
                                <span class="normal_price">
                                    $3,000
                                </span>$2,500
                            </div>
                        </a>
                        <div class="portfolio_info_wrapper">
                            <a class="tour_link" href="#"><h4>Nhật Bản</h4></a>
                            <div class="tour_excerpt">
                                <p>Tokio, Núi Phú Sĩ, Chùa Vàng</p>
                            </div>
                            <div class="tour_attribute_wrapper">
                                <div class="tour_attribute_rating">
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                </div>
                                <div class="tour_attribute_days">
                                    <span class="ti-time"></span>5 ngày
                                </div>
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- het tour trong nuoc -->
<!-- tour quoc te -->
<div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:0px;margin-bottom:20px;">
    <div class="standard_wrapper">
        <div class="page_content_wrapper">
            <div class="inner">
                <div style="margin:auto;width:100%">
                    <a href="/danhsachtour"><h2 class="ppb_title" style="">Tour Quốc Tế</h2></a>
                    <div class="page_tagline" style="">Giá tốt nhất từ chúng tôi</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ppb_tour_classic one nopadding " style="margin-bottom:20px;">
    <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column">
        <div class="standard_wrapper">
            <div id="1567589134228149190" class="portfolio_filter_wrapper gallery classic three_cols" data-columns="3">
                <div class="element grid classic3_cols animated1">
                    <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                        <a class="tour_image" href="#">
                            <img src="~/upload/pexels-photo-26689-700x466.jpg" alt="French Autumn" />
                            <div class="tour_price ">$5,000</div>
                        </a>
                        <div class="portfolio_info_wrapper">
                            <a class="tour_link" href="#"><h4>Mùa Thu Nước Pháp</h4></a>
                            <div class="tour_excerpt">
                                <p>Thánh phố Paris</p>
                            </div>
                            <div class="tour_attribute_wrapper">
                                <div class="tour_attribute_rating">
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                </div>
                                <div class="tour_attribute_days">
                                    <span class="ti-time"></span>5&nbsp;days
                                </div>
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
                <div class="element grid classic3_cols animated2">
                    <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                        <a class="tour_image" href="#">
                            <img src="~/upload/pexels-photo-131729-700x466.jpeg" alt="Grand Switzerland" />
                            <div class="tour_price ">$6,000</div>
                        </a>
                        <div class="portfolio_info_wrapper">
                            <a class="tour_link" href="#"><h4>Thành Phố Đài Bắc</h4></a>
                            <div class="tour_excerpt">
                                <p>Mua sắm, leo nuối, tuyết</p>
                            </div>
                            <div class="tour_attribute_wrapper">
                                <div class="tour_attribute_rating">
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                </div>
                                <div class="tour_attribute_days">
                                    <span class="ti-time"></span>6&nbsp;days
                                </div>
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
                <div class="element grid classic3_cols animated3">
                    <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                        <a class="tour_image" href="#">
                            <img src="~/upload/pexels-photo-225630-700x466.jpeg" alt="Discover Japan" />
                            <div class="tour_label">Sale</div>
                            <div class="tour_price has_discount">
                                <span class="normal_price">
                                    $3,000
                                </span>$2,500
                            </div>
                        </a>
                        <div class="portfolio_info_wrapper">
                            <a class="tour_link" href="#"><h4>Nhật Bản</h4></a>
                            <div class="tour_excerpt">
                                <p>Tokio, Núi Phú Sĩ, Chùa Vàng</p>
                            </div>
                            <div class="tour_attribute_wrapper">
                                <div class="tour_attribute_rating">
                                    <div class="br-theme-fontawesome-stars-o">
                                        <div class="br-widget">
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;" class="br-selected"></a>
                                            <a href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                </div>
                                <div class="tour_attribute_days">
                                    <span class="ti-time"></span>5 ngày
                                </div>
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- het tour quoc te-->


<div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-bottom:20px;">
    <div class="standard_wrapper">
        <div class="page_content_wrapper">
            <div class="inner">
                <div style="margin:auto;width:100%">
                    <h2 class="ppb_title" style="">Hãy đồng hành cùng chúng tôi vì</h2>
                    <div class="page_tagline" style="">Lý do bạn nên đồng hành cùng chúng tôi</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="standard_wrapper">
    <div class="one_third withsmallpadding ppb_text" style="text-align:center;padding:0px 0 0px 0;margin-bottom:30px;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <p><img class="alignnone wp-image-3106 size-medium" src="upload/Map-Marker-300x300.png" width="150" height="150" alt="" /></p>
                        <h4 class="p1"><span class="s1"><b>Điểm đến hấp dẫn</b></span></h4>
                        <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="standard_wrapper">
    <div class="one_third withsmallpadding ppb_text" style="text-align:center;padding:0px 0 0px 0;margin-bottom:30px;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <p><img class="alignnone wp-image-3107 size-medium" src="upload/Worldwide-Location-300x300.png" width="150" height="150" alt="" /></p>
                        <h4 class="p1"><span class="s1"><b>Dịch vụ tốt nhất</b></span></h4>
                        <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="standard_wrapper">
    <div class="one_third last withsmallpadding ppb_text" style="text-align:center;padding:0px 0 0px 0;margin-bottom:30px;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <p><img class="alignnone wp-image-3108 size-medium" src="upload/Hot-Air-Balloon-300x300.png" width="140" height="140" alt="" /></p>
                        <h4 class="p1"><span class="s1"><b>Giá Tốt Nhất</b></span></h4>
                        <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Danh Mục -->
<div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:10px;margin-bottom:20px;">
    <div class="standard_wrapper">
        <div class="page_content_wrapper">
            <div class="inner">
                <div style="margin:auto;width:100%">
                    <a href="/danhsachtour"><h2 class="ppb_title" style="">Danh Mục Tour</h2></a>
                    <div class="page_tagline" style="">Giá tốt nhất từ chúng tôi</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax" data-jarallax-video="https://www.youtube.com/watch?v=JPe2mwq96cw" style="height:40vh; "></div>
<div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:70px;margin-bottom:50px;">
    <div class="standard_wrapper">
        <div class="page_content_wrapper">
            <div class="inner">
                <div style="margin:auto;width:100%">
                    <h2 class="ppb_title" style="">Khám Phá Thế Giới</h2>
                    <div class="page_tagline" style="">Hành trình đến những đất nước xinh đẹp, khám phá văn hóa.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="standard_wrapper">
    <div class="ppb_blog_grid one nopadding" style="padding:0px 0 0px 0;margin-bottom:20px;">
        <div class="page_content_wrapper">
            <div class="inner">
                <div class="inner_wrapper">
                    <div class="blog_grid_wrapper sidebar_content full_width ppb_blog_posts">
                        <div id="post-81" class="post type-post hentry status-publish ">
                            <div class="post_wrapper grid_layout">
                                <div class="post_img small static">
                                    <a href="/news/newsdetail">
                                        <img src="upload/photo-1469920783271-4ee08a94d42d-960x636.jpg" alt="Memorial Day to Someone Told Me to Travel" class="" />
                                    </a>
                                </div>
                                <div class="post_header_wrapper">
                                    <div class="post_header grid">
                                        <div class="post_detail single_post">
                                            <span class="post_info_date">
                                                <a href="#" title="Memorial Day to Someone Told Me to Travel">December 10, 2016</a>
                                            </span>
                                        </div>
                                        <h6><a href="/news/newsdetail" title="Memorial Day to Someone Told Me to Travel">Đến đài loan mua gì, ăn gì, đi mùa nào dành cho khách đi lần đầu</a></h6>
                                    </div>
                                    <p>
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache...
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="/news/newsdetail">Xem thêm<span class="ti-angle-right"></span></a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="post-76" class="post type-post hentry status-publish ">
                            <div class="post_wrapper grid_layout">
                                <div class="post_img small static">
                                    <a href="/news/newsdetail">
                                        <img src="upload/pexels-photo-212388-960x636.jpeg" alt="7 Tips For Nomads On A Budget Trips" class="" />
                                    </a>
                                </div>
                                <div class="post_header_wrapper">
                                    <div class="post_header grid">
                                        <div class="post_detail single_post">
                                            <span class="post_info_date">
                                                <a href="/news/newsdetail" title="7 Tips For Nomads On A Budget Trips">December 10, 2016</a>
                                            </span>
                                        </div>
                                        <h6><a href="/news/newsdetail" title="7 Tips For Nomads On A Budget Trips">Tham quan Hàn quốc với hành trình trượt tuyết tham quan thành phố Seoul</a></h6>
                                    </div>
                                    <p>
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache...
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="/news/newsdetail">Xem thêm<span class="ti-angle-right"></span></a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="post-72" class="post type-post hentry status-publish last">
                            <div class="post_wrapper grid_layout">
                                <div class="post_img small static">
                                    <a href="/news/newsdetail">
                                        <img src="upload/pexels-photo-24484-960x636.jpg" alt="Taking A Travel Blog Victory Lap" class="" />
                                    </a>
                                </div>
                                <div class="post_header_wrapper">
                                    <div class="post_header grid">
                                        <div class="post_detail single_post">
                                            <span class="post_info_date">
                                                <a href="/news/newsdetail" title="Taking A Travel Blog Victory Lap">December 10, 2016</a>
                                            </span>
                                        </div>
                                        <h6><a href="#" title="Taking A Travel Blog Victory Lap">Kinh nghiệm đi du lịch Singapore mùa hè</a></h6>
                                    </div>
                                    <p>
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache...
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="/news/newsdetail">Xem thêm<span class="ti-angle-right"></span></a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        var btnUuDai = document.getElementById('btnUuDai');
        var popUpLeft = document.querySelector('.popup-left');
        var btnClose = document.querySelector('.popup-left .close');

        btnUuDai.addEventListener("click", function () {
            if (popUpLeft.classList.contains('hide')) {
                popUpLeft.classList.add('hide');
            }
        });
        btnClose.addEventListener("click", function () {
            if (!popUpLeft.classList.contains('hide')) {
                popUpLeft.classList.add('hide');
            }
        });
    </script>
}