

    <div id="page_caption" class="hasbg parallax    " style="background-image:url(upload/pexels-photo-24377.jpg);text-align: center; height: 400px; ">

        <div class="page_title_wrapper">
            <div class="page_title_inner">
                <div class="page_title_content">
                    <h1>Danh sách Tour</h1>
                    <div class="page_tagline">
                        Danh sách tour theo quốc gia, địa điểm </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Begin content -->
    <div id="page_content_wrapper" class="hasbg ">
        <form id="tour_search_form" name="tour_search_form" method="get" action="http://themes.themegoods.com/granddemo/tours/tour-list-left-sidebar/">
            <div class="tour_search_wrapper">
                <div class="one_fourth themeborder">
                    <input id="keyword" name="keyword" type="text" autocomplete="off" placeholder="Destination, city" />
                    <span class="ti-search"></span>
                    <div id="autocomplete" class="autocomplete" data-mousedown="false"></div>
                </div>
                <div class="one_fourth themeborder">
                    <select id="month" name="month">
                        <option value="">Any Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                    </select>
                    <span class="ti-calendar"></span>
                </div>
                <div class="one_fourth themeborder">
                    <select id="sort_by" name="sort_by">
                        <option value="date">Sort By Date</option>
                        <option value="price_low">Price Low to High</option>
                        <option value="price_high">Price High to Low</option>
                        <option value="name">Sort By Name</option>
                        <option value="popular">Sort By Popularity</option>
                        <option value="review">Sort By Review Score</option>
                    </select>
                    <span class="ti-exchange-vertical"></span>
                </div>
                <div class="one_fourth last themeborder">
                    <input id="tour_search_btn" type="submit" class="button" value="Search" />
                </div>

                <br class="clear" />
                <div class="tour_advance_search_wrapper">
                    <div class="one_fourth themeborder">
                        <select id="tourcat" name="tourcat">
                            <option value="">All Categories</option>
                            <option value="mountain">Mountain</option>
                            <option value="rural">Rural</option>
                            <option value="snow-ice">Snow &amp; Ice</option>
                            <option value="wildlife">Wildlife</option>
                        </select><span class="ti-angle-down"></span>
                    </div>

                    <div class="one_fourth themeborder">
                        <select id="destination_id" name="destination_id">
                            <option value="">Any Destinations</option>
                            <option value="277">Tokyo</option>
                            <option value="278">Seoul</option>
                            <option value="279">Paris</option>
                            <option value="284">London</option>
                            <option value="285">Venice</option>
                            <option value="287">Miami</option>
                            <option value="289">Rome</option>
                            <option value="270">Prague</option>
                            <option value="291">California</option>
                            <option value="292">Kyoto</option>
                            <option value="293">Hong Kong</option>
                            <option value="294">Santorini</option>
                        </select><span class="ti-angle-down"></span>
                    </div>

                    <div class="one_fourth themeborder">
                        <input id="budget" name="budget" type="text" placeholder="Max budget ex. 500" />
                        <span>$</span>
                    </div>
                </div>

                <div class="tour_advance_search_wrapper_link">
                    <a id="tour_advance_search_toggle" class="theme_link_color" href="javascript:;"><span class="icon ti-angle-down"></span>Advanced Search</a>
                </div>
            </div>
        </form>

        <!-- Begin content -->

        <div class="inner">

            <div class="inner_wrapper nopadding">

                <div id="page_main_content" class="sidebar_content left_sidebar fixed_column">

                    <div class="standard_wrapper">

                        <div id="portfolio_filter_wrapper" class="gallery classic two_cols portfolio-content section content clearfix" data-columns="3">

                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-211051-500x500.jpeg" alt="Khám phá nước Pháp mùa thu xinh đẹp" />

                                        <div class="tour_price ">
                                            $5,000 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>French Autumn</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 5&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-197657-500x500.jpeg" alt="Grand Switzerland" />

                                        <div class="tour_price ">
                                            $6,000 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Tour Nhật Bản con đường vàng</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 6&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-96420-500x500.jpeg" alt="Discover Japan" />

                                        <div class="tour_label">Sale</div>

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $3,000                              </span> $2,500 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Nhật Bản mùa lễ hội hoa anh đào</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 5&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/Tokyo_Dollarphotoclub_72848283-copy-500x500.jpg" alt="Niko Trip" />

                                        <div class="tour_price ">
                                            $4,000 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Hành trình khám phá Seoul trái tim đất nước Hàn Quốc </h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 3&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/bf1202aedf2c5b6a57d379575619a488-500x500.jpg" alt="Seoul Your Soul" />

                                        <div class="tour_price ">
                                            $5,900 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Seoul Your Soul</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 5&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-115070-500x500.jpeg" alt="Hong Kong" />

                                        <div class="tour_label">Sale</div>

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $3,000                              </span> $2,400 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Hong Kong với nền ẩm thực phong phú đa dạng </h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 8&nbsp;Hours
                                            <a href="javascript:;" class="tooltip" title="Available on Friday,&nbsp;Saturday,&nbsp;Sunday"><span class="ti-info-alt"></span></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-1-500x500.jpg" alt="Great Britain Travel" />

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $6,000                              </span> $5,900 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Du Lịch Anh quốc và 6 nước Châu Âu</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 5&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/39267772-prague-wallpapers-500x500.jpg" alt="Exclusive Prague Trip" />

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $5,900                              </span> $5,500 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Khám phá Châu Âu mùa Xuân 2020 </h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 7&nbsp;Hours
                                            <a href="javascript:;" class="tooltip" title="Available on Friday,&nbsp;Saturday,&nbsp;Sunday"><span class="ti-info-alt"></span></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-24377-500x500.jpg" alt="The New California" />

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $6,700                              </span> $6,200 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>The New California</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 3&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-225630-500x500.jpeg" alt="5 Lake of Fuji San" />

                                        <div class="tour_label">Sale</div>

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $4,900                              </span> $4,200 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>5 Lake of Fuji San</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 3&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-131729-500x500.jpeg" alt="Swiss Alps Trip" />

                                        <div class="tour_price ">
                                            $3,900 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Swiss Alps Trip</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 3&nbsp;days </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_list_wrapper floatleft">
                                <div class="one_third">
                                    <a class="tour_image" href="#">
                                        <img src="upload/pexels-photo-26689-500x500.jpg" alt="Colorful Singapore" />

                                        <div class="tour_label">Sale</div>

                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $2,000                              </span> $1,700 </div>

                                    </a>
                                </div>

                                <div class="two_third last">
                                    <a class="tour_link" href="#"><h3>Colorful Singapore</h3></a>
                                    <div class="tour_list_excerpt">
                                        Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. </div>

                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 3&nbsp;days </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br class="clear" />

                    </div>
                </div>

                <div class="sidebar_wrapper left_sidebar">
                    <div class="sidebar">

                        <div class="content">

                            <ul class="sidebar_widget">
                                <li id="grandtour_cat_posts-5" class="widget Grandtour_Cat_Posts">
                                    <h2 class="widgettitle"><span>Kinh nghiệm du lịch</span></h2>
                                    <ul class="posts blog withthumb ">
                                        <li>
                                            <div class="post_circle_thumb">
                                                <a href="#"><img class="alignleft frame post_thumb" src="upload/photo-1469920783271-4ee08a94d42d-150x150.jpg" alt="" /></a>
                                            </div><a href="#">Memorial Day to Someone Told Me to Travel</a>
                                            <div class="post_attribute">December 10, 2016</div>
                                        </li>
                                        <li>
                                            <div class="post_circle_thumb">
                                                <a href="#"><img class="alignleft frame post_thumb" src="upload/pexels-photo-212388-150x150.jpeg" alt="" /></a>
                                            </div><a href="#">7 Tips For Nomads On A Budget Trips</a>
                                            <div class="post_attribute">December 10, 2016</div>
                                        </li>
                                        <li>
                                            <div class="post_circle_thumb">
                                                <a href="#"><img class="alignleft frame post_thumb" src="upload/pexels-photo-24484-150x150.jpg" alt="" /></a>
                                            </div><a href="#">Taking A Travel Blog Victory Lap</a>
                                            <div class="post_attribute">December 10, 2016</div>
                                        </li>
                                    </ul>
                                </li>
                                <li id="grandtour_flickr-8" class="widget Grandtour_Flickr">
                                    <h2 class="widgettitle">Tour sắp khởi hành</h2>
                                    <ul class="flickr">
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/28760131762_e4a64b20c4_q.jpg" alt="Buddha Sunrise in Borobudur, Magelang, Central Java, Indonesia" width="75" height="75" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/27308262031_a6ebf0572e_q.jpg" alt="Gentoo Penguins, Falkland Islands (Islas Malvinas), British Overseas Territory" width="75" height="75" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/27287965356_60355f51d7_q.jpg" alt="Aerial View of Singapore CBD Skyline, Marina Bay Esplanade and Raffles Place, Singapore" width="75" height="75" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/27138570412_d25002a5c9_q.jpg" alt="View Of Sugarloaf Mountain, Botafogo And The City of Rio De Janeiro, Brazil, South America" width="75" height="75" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/26520497604_1df03a02bc_q.jpg" alt="Sacre Coeur (Basilica of the Sacred Heart of Paris), Paris, France :: HDR" width="75" height="75" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/27012097142_f1511b67bc_q.jpg" alt="The Great Gate (Darwaza-i rauza) of Taj Mahal, Agra, Uttar Pradesh, India :: HDR" width="75" height="75" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/26484150103_b5f5f154ec_q.jpg" alt="Emerald Lake From South Klondike Highway, Southern Yukon, Canada :: HDR" width="75" height="75" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/26464425264_12199828d4_q.jpg" alt="View of The Elizabeth Tower (Big Ben), Palace of Westminster and London Eye, London, England, United Kingdom" width="75" height="75" /></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#"><img src="upload/26323295363_00eef6e96f_q.jpg" alt="View Of Iguazu Falls From Brazilian Side, Parana State, South America" width="75" height="75" /></a>
                                        </li>
                                    </ul>
                                    <br class="clear" />
                                </li>
                                <li id="grandtour_social_profiles_posts-5" class="widget Grandtour_Social_Profiles_Posts">
                                    <h2 class="widgettitle">Kết nối </h2>
                                    <div class="social_wrapper shortcode light small">
                                        <ul>
                                            <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                                            <li class="pinterest"><a target="_blank" title="Pinterest" href="https://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                                            <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/theplanetd"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="grandtour_tour_posts-2" class="widget Grandtour_Tour_Posts">
                                    <h2 class="widgettitle">Tour giờ chót</h2>
                                    <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(upload/pexels-photo-197657-700x466.jpeg);">
                                        <a class="tour_image" href="#"></a>
                                        <div class="portfolio_info_wrapper">
                                            <div class="tour_price ">
                                                $6,000 </div>
                                            <h5>Grand Switzerland</h5>
                                            <div class="tour_attribute_wrapper">
                                                <div class="tour_attribute_rating">
                                                    <div class="br-theme-fontawesome-stars-o">
                                                        <div class="br-widget">
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br class="clear" />
                                    <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(upload/bf1202aedf2c5b6a57d379575619a488-700x466.jpg);">
                                        <a class="tour_image" href="#"></a>
                                        <div class="portfolio_info_wrapper">
                                            <div class="tour_price ">
                                                $5,900 </div>
                                            <h5>Seoul Your Soul</h5>
                                            <div class="tour_attribute_wrapper">
                                                <div class="tour_attribute_rating">
                                                    <div class="br-theme-fontawesome-stars-o">
                                                        <div class="br-widget">
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br class="clear" />
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
