        <div id="page_caption" class="hasbg parallax    blog_wrapper" style="background-image:url(upload/pexels-photo-24377.jpg); text-align: center; height: 400px; background-position: center center; color: rgb(255, 255, 255); z-index: 0;>

            <div class="page_title_wrapper">
                <div class="page_title_inner">
                    <div class="page_title_content">
                        <h1>Tin Tức - Kinh Nghiệm Du Lịch</h1>
                        <div class="page_tagline">
                            Tổng hợp kinh nghiệm đi du lịch trong và ngoài ngước </div>
                    </div>
                </div>
            </div>

        </div>
       <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg blog_wrapper">
            <div class="inner">

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="page_content_wrapper"></div>

                    <div class="sidebar_content ">

                        <!-- Begin each blog post -->
                        <div id="post-81" class="post-81 post type-post status-publish format-standard has-post-thumbnail hentry category-travel-tips tag-passport tag-travel tag-world">

                            <div class="post_wrapper">

                                <div class="post_content_wrapper">

                                    <div class="post_img static">
                                        <a href="/news/newsdetail">
                                            <img width="960" height="636" src="upload/photo-1469920783271-4ee08a94d42d-960x636.jpg" class="attachment-grandtour-blog size-grandtour-blog wp-post-image" alt="" /> </a>
                                    </div>

                                    <div class="post_header_wrapper">
                                        <div class="post_header">
                                            <div class="post_detail single_post">
                                                <span class="post_info_date">
                                <a href="/news/newsdetail" title="Memorial Day to Someone Told Me to Travel">December 10, 2016</a>
                            </span>
                                                <span class="post_info_comment">
                                •
                                <a href="##respond">
                                    0&nbsp;Comment                              </a>
                            </span>
                                            </div>
                                            <div class="post_header_title">
                                                <h5><a href="/news/newsdetail" title="Memorial Day to Someone Told Me to Travel">Memorial Day to Someone Told Me to Travel</a></h5>
                                            </div>
                                        </div>

                                        <br class="clear" />

                                        <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life [&hellip;]</p>
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="/news/newsdetail">Read More<span class="ti-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <!-- Begin each blog post -->
                        <div id="post-76" class="grid_layout post-76 post type-post status-publish format-standard has-post-thumbnail hentry category-travel-tips tag-japan tag-passport tag-summer">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="/news/newsdetail">
                                        <img src="upload/pexels-photo-212388-960x636.jpeg" alt="7 Tips For Nomads On A Budget Trips" class="" />
                                    </a>
                                </div>

                                <div class="post_header_wrapper">
                                    <div class="post_header grid">
                                        <div class="post_detail single_post">
                                            <span class="post_info_date">
                        <a href="/news/newsdetail" title="7 Tips For Nomads On A Budget Trips">December 10, 2016</a>
                    </span>
                                        </div>
                                        <h6><a href="/news/newsdetail" title="7 Tips For Nomads On A Budget Trips">7 Tips For Nomads On A Budget Trips</a></h6>
                                    </div>

                                    Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache...
                                    <div class="post_button_wrapper">
                                        <a class="readmore" href="/news/newsdetail">Read More<span class="ti-angle-right"></span></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <!-- Begin each blog post -->
                        <div id="post-72" class="grid_layout last post-72 post type-post status-publish format-standard has-post-thumbnail hentry category-travel-tips tag-passport tag-plan tag-world">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="/news/newsdetail">
                                        <img src="upload/pexels-photo-24484-960x636.jpg" alt="Taking A Travel Blog Victory Lap" class="" />
                                    </a>
                                </div>

                                <div class="post_header_wrapper">
                                    <div class="post_header grid">
                                        <div class="post_detail single_post">
                                            <span class="post_info_date">
                        <a href="/news/newsdetail" title="Taking A Travel Blog Victory Lap">December 10, 2016</a>
                    </span>
                                        </div>
                                        <h6><a href="/news/newsdetail" title="Taking A Travel Blog Victory Lap">Taking A Travel Blog Victory Lap</a></h6>
                                    </div>

                                    Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache...
                                    <div class="post_button_wrapper">
                                        <a class="readmore" href="/news/newsdetail">Read More<span class="ti-angle-right"></span></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <br class="clear" />

                        <!-- Begin each blog post -->
                        <div id="post-66" class="grid_layout post-66 post type-post status-publish format-standard has-post-thumbnail hentry category-travel-tips tag-japan tag-plan tag-summer">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="/news/newsdetail">
                                        <img src="upload/pexels-photo-211051-960x636.jpeg" alt="On the Shores of a Pink Lake in Australia" class="" />
                                    </a>
                                </div>

                                <div class="post_header_wrapper">
                                    <div class="post_header grid">
                                        <div class="post_detail single_post">
                                            <span class="post_info_date">
                        <a href="/news/newsdetail" title="On the Shores of a Pink Lake in Australia">December 10, 2016</a>
                    </span>
                                        </div>
                                        <h6><a href="/news/newsdetail" title="On the Shores of a Pink Lake in Australia">On the Shores of a Pink Lake in Australia</a></h6>
                                    </div>

                                    Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache...
                                    <div class="post_button_wrapper">
                                        <a class="readmore" href="/news/newsdetail">Read More<span class="ti-angle-right"></span></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <!-- Begin each blog post -->
                        <div id="post-62" class="grid_layout last post-62 post type-post status-publish format-standard has-post-thumbnail hentry category-travel-tips tag-japan tag-passport tag-world">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="/news/newsdetail">
                                        <img src="upload/pexels-photo-24377-960x636.jpg" alt="The World of Wearable Art &#038; Classic Cars" class="" />
                                    </a>
                                </div>

                                <div class="post_header_wrapper">
                                    <div class="post_header grid">
                                        <div class="post_detail single_post">
                                            <span class="post_info_date">
                        <a href="/news/newsdetail" title="The World of Wearable Art &#038; Classic Cars">December 10, 2016</a>
                    </span>
                                        </div>
                                        <h6><a href="/news/newsdetail" title="The World of Wearable Art &#038; Classic Cars">The World of Wearable Art &#038; Classic Cars</a></h6>
                                    </div>

                                    Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache...
                                    <div class="post_button_wrapper">
                                        <a class="readmore" href="/news/newsdetail">Read More<span class="ti-angle-right"></span></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <br class="clear" />

                        <div class="pagination"><span class="current">1</span><a href='#' class="inactive">2</a></div>
                        <div class="pagination_detail">
                            Page 1 of 2 </div>

                    </div>

                    <div class="sidebar_wrapper ">

                        <div class="sidebar_top"></div>

                        <div class="sidebar">

                            <div class="content">

                                <ul class="sidebar_widget">
                                    <li id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
                                        <h2 class="widgettitle">Đăng Ký Email</h2>

                                        <!-- MailChimp for WordPress v4.2.5 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-184" method="post" data-id="184" data-name="Newsletter">
                                            <div class="mc4wp-form-fields">Gửi Email để nhận Khuyển mãi từ chúng tôi

                                                <input type="email" name="Emial" placeholder="YEmail của bạn" required />
                                                <br/>
                                                <input type="submit" value="Đăng ký" />
                                            </div>
                                            <label style="display: none !important;">Leave this field empty if you're human:
                                                <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" />
                                            </label>
                                            <div class="mc4wp-response"></div>
                                        </form>
                                        <!-- / MailChimp for WordPress Plugin -->
                                    </li>
                                    <li id="grandtour_cat_posts-2" class="widget Grandtour_Cat_Posts">
                                        <h2 class="widgettitle"><span>Mẹo du lịch</span></h2>
                                        <ul class="posts blog withthumb ">
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="/news/newsdetail"><img class="alignleft frame post_thumb" src="upload/photo-1469920783271-4ee08a94d42d-150x150.jpg" alt="" /></a>
                                                </div><a href="/news/newsdetail">Memorial Day to Someone Told Me to Travel</a>
                                                <div class="post_attribute">December 10, 2016</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="/news/newsdetail"><img class="alignleft frame post_thumb" src="upload/pexels-photo-212388-150x150.jpeg" alt="" /></a>
                                                </div><a href="/news/newsdetail">7 Tips For Nomads On A Budget Trips</a>
                                                <div class="post_attribute">December 10, 2016</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="/news/newsdetail"><img class="alignleft frame post_thumb" src="upload/pexels-photo-24484-150x150.jpg" alt="" /></a>
                                                </div><a href="/news/newsdetail">Taking A Travel Blog Victory Lap</a>
                                                <div class="post_attribute">December 10, 2016</div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="grandtour_flickr-3" class="widget Grandtour_Flickr">
                                        <h2 class="widgettitle">Hình Ảnh</h2>
                                        <ul class="flickr">
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/28760131762_e4a64b20c4_q.jpg" alt="Buddha Sunrise in Borobudur, Magelang, Central Java, Indonesia" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/27308262031_a6ebf0572e_q.jpg" alt="Gentoo Penguins, Falkland Islands (Islas Malvinas), British Overseas Territory" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/27287965356_60355f51d7_q.jpg" alt="Aerial View of Singapore CBD Skyline, Marina Bay Esplanade and Raffles Place, Singapore" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/27138570412_d25002a5c9_q.jpg" alt="View Of Sugarloaf Mountain, Botafogo And The City of Rio De Janeiro, Brazil, South America" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/26520497604_1df03a02bc_q.jpg" alt="Sacre Coeur (Basilica of the Sacred Heart of Paris), Paris, France :: HDR" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/27012097142_f1511b67bc_q.jpg" alt="The Great Gate (Darwaza-i rauza) of Taj Mahal, Agra, Uttar Pradesh, India :: HDR" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/26484150103_b5f5f154ec_q.jpg" alt="Emerald Lake From South Klondike Highway, Southern Yukon, Canada :: HDR" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/26464425264_12199828d4_q.jpg" alt="View of The Elizabeth Tower (Big Ben), Palace of Westminster and London Eye, London, England, United Kingdom" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="/news/newsdetail"><img src="upload/26323295363_00eef6e96f_q.jpg" alt="View Of Iguazu Falls From Brazilian Side, Parana State, South America" width="75" height="75" /></a>
                                            </li>
                                        </ul>
                                        <br class="clear" />
                                    </li>
                                    <li id="grandtour_social_profiles_posts-2" class="widget Grandtour_Social_Profiles_Posts">
                                        <h2 class="widgettitle"Kết nối với chúng tôi</h2>
                                        <div class="social_wrapper shortcode light small">
                                            <ul>
                                                <li class="facebook"><a target="_blank" title="Facebook" href="/news/newsdetail"><i class="fa fa-facebook"></i></a></li>
                                                <li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                                <li class="youtube"><a target="_blank" title="Youtube" href="/news/newsdetail"><i class="fa fa-youtube"></i></a></li>
                                                <li class="pinterest"><a target="_blank" title="Pinterest" href="https://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                                                <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/theplanetd"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="grandtour_tour_posts-4" class="widget Grandtour_Tour_Posts">
                                        <h2 class="widgettitle"></h2>
                                        <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(upload/pexels-photo-225630-700x466.jpeg);">
                                            <a class="tour_image" href="/news/newsdetail"></a>
                                            <div class="portfolio_info_wrapper">
                                                <div class="tour_price has_discount">
                                                    <span class="normal_price">
                                        $4,900                                  </span> $4,200 </div>
                                                <h5>5 Lake of Fuji San</h5>
                                                <div class="tour_attribute_wrapper">
                                                    <div class="tour_attribute_rating">
                                                        <div class="br-theme-fontawesome-stars-o">
                                                            <div class="br-widget">
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br class="clear" />
                                        <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(upload/pexels-photo-197657-700x466.jpeg);">
                                            <a class="tour_image" href="/news/newsdetail"></a>
                                            <div class="portfolio_info_wrapper">
                                                <div class="tour_price ">
                                                    $6,000 </div>
                                                <h5>Grand Switzerland</h5>
                                                <div class="tour_attribute_wrapper">
                                                    <div class="tour_attribute_rating">
                                                        <div class="br-theme-fontawesome-stars-o">
                                                            <div class="br-widget">
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br class="clear" />
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <br class="clear" />

                        <div class="sidebar_bottom"></div>
                    </div>

                </div>
                <!-- End main content -->

            </div>
        </div>
