   <div id="page_caption" class="hasbg parallax    " style="background-image:url(upload/venice-WBEUROCITIES16.jpg);text-align: center; height: 400px;  background-position: center center; color: rgb(255, 255, 255); z-index: 0;>

        <div class="page_title_wrapper">
            <div class="page_title_inner">
                <div class="page_title_content">
                    <h1>Venice</h1>
                </div>
            </div>
        </div>

    </div>

    <!-- Begin content -->
    <div id="page_content_wrapper" class="hasbg ">
        <div class="inner">

            <!-- Begin main content -->
            <div class="inner_wrapper">

                <div class="tour_related">
                    <h3 class="sub_title">Related Tours</h3>

                    <div id="portfolio_filter_wrapper" class="gallery classic three_cols portfolio-content section content clearfix" data-columns="3">
                        <div class="element grid classic3_cols">
                            <div class="one_third gallery3 classic static filterable portfolio_type themeborder">

                                <a class="tour_image" href="#">
                                    <img src="upload/pexels-photo-211051-700x466.jpeg" alt="Venice" />

                                    <div class="tour_price ">
                                        $5,000 </div>
                                </a>

                                <div class="portfolio_info_wrapper">
                                    <a class="tour_link" href="#"><h4>French Autumn</h4></a>
                                    <div class="tour_excerpt">
                                        <p>City Tours, Urban</p>
                                    </div>
                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 5&nbsp;days </div>
                                    </div>
                                    <br class="clear" />
                                </div>
                            </div>
                        </div>
                        <div class="element grid classic3_cols">
                            <div class="one_third gallery3 classic static filterable portfolio_type themeborder">

                                <a class="tour_image" href="#">
                                    <img src="upload/pexels-photo-1-700x466.jpg" alt="Venice" />

                                    <div class="tour_price has_discount">
                                        <span class="normal_price">
                                $6,000                              </span> $5,900 </div>
                                </a>

                                <div class="portfolio_info_wrapper">
                                    <a class="tour_link" href="#"><h4>Great Britain Travel</h4></a>
                                    <div class="tour_excerpt">
                                        <p>City Tours, Urban</p>
                                    </div>
                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 5&nbsp;days </div>
                                    </div>
                                    <br class="clear" />
                                </div>
                            </div>
                        </div>
                        <div class="element grid classic3_cols">
                            <div class="one_third gallery3 classic static filterable portfolio_type themeborder">

                                <a class="tour_image" href="#">
                                    <img src="upload/39267772-prague-wallpapers-700x466.jpg" alt="Venice" />

                                    <div class="tour_price has_discount">
                                        <span class="normal_price">
                                $5,900                              </span> $5,500 </div>
                                </a>

                                <div class="portfolio_info_wrapper">
                                    <a class="tour_link" href="#"><h4>Exclusive Prague Trip</h4></a>
                                    <div class="tour_excerpt">
                                        <p>City Tours, Historic, Park</p>
                                    </div>
                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">
                                                4&nbsp; reviews </div>
                                        </div>

                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span> 7&nbsp;Hours
                                            <a href="javascript:;" class="tooltip" title="Available on Friday,&nbsp;Saturday,&nbsp;Sunday"><span class="ti-info-alt"></span></a> </div>
                                    </div>
                                    <br class="clear" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar_content full_width ">
                    <div class="sidebar_content page_content">
                        <blockquote>
                            <p>This sanctuary on a lagoon is virtually the same as it was six hundred years ago, which adds to the fascinating character.</p>
                        </blockquote>

                        <h4 class="p1"><span class="s1">Exploring the Area</span></h4>
                        <p class="p2">Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies.</p>
                        <h4 class="p1"><span class="s1">Coastal Adventures</span></h4>
                        <p class="p2">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus.</p>
                        <div id="attachment_80" style="width: 1034px" class="wp-caption alignnone"><img class="size-large wp-image-80" src="upload/pexels-photo-211051-1024x683.jpeg" alt="" width="1024" height="683" />
                            <p class="wp-caption-text">The road to success and the road to failure are almost exactly the same</p>
                        </div>
                        <h4 class="p1"><span class="s1">Eating and Drinking</span></h4>
                        <p class="p2">See-through delicate embroidered organza blue lining luxury acetate-mix stretch pleat detailing. Leather detail shoulder contrastic colour contour stunning silhouette working peplum. Statement buttons cover-up tweaks patch pockets perennial lapel collar flap chest pockets topline</p>
                        <h4 class="p2">What to See and Do</h4>
                        <p>Foam padding in the insoles leather finest quality staple flat slip-on design pointed toe off-duty shoe. Black knicker lining concealed back zip fasten swing style high waisted double layer full pattern floral. Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design.</p>
                        <div id="attachment_174" style="width: 1034px" class="wp-caption alignnone"><img class="wp-image-174 size-large" src="upload/pexels-photo-115070-1024x683.jpeg" width="1024" height="683" />
                            <p class="wp-caption-text">Emotional discomfort, when accepted, rises, crests and falls in a series of waves.</p>
                        </div>
                        <h4 class="p2">Where to Stay</h4>
                        <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies.</p>
                        <h4 class="p1"><span class="s1">How to Get Around</span></h4>
                        <p class="p2">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus.</p>

                        <a id="single_tour_share_button" href="javascript:;" class="button ghost themeborder" style="width:auto;"><span class="ti-email"></span>Share this tour</a>

                        <div class="fullwidth_comment_wrapper sidebar">

                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">Leave A Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>
                                <form action="#" method="post" id="commentform" class="comment-form">
                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                    <p class="comment-form-comment">
                                        <label for="comment">Comment</label>
                                        <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                                    </p>
                                    <p class="comment-form-author">
                                        <label for="author">Name <span class="required">*</span></label>
                                        <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' />
                                    </p>
                                    <p class="comment-form-email">
                                        <label for="email">Email <span class="required">*</span></label>
                                        <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' />
                                    </p>
                                    <p class="comment-form-url">
                                        <label for="url">Website</label>
                                        <input id="url" name="url" type="text" value="" size="30" maxlength="200" />
                                    </p>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                                    </p>
                                </form>
                            </div>
                            <!-- #respond -->

                        </div>
                    </div>

                    <div class="sidebar_wrapper">
                        <div class="sidebar">

                            <div class="content">

                                <ul class="sidebar_widget">
                                    <li id="grandtour_cat_posts-6" class="widget Grandtour_Cat_Posts">
                                        <h2 class="widgettitle"><span>Travel Tips</span></h2>
                                        <ul class="posts blog withthumb ">
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img class="alignleft frame post_thumb" src="upload/photo-1469920783271-4ee08a94d42d-150x150.jpg" alt="" /></a>
                                                </div><a href="#">Memorial Day to Someone Told Me to Travel</a>
                                                <div class="post_attribute">December 10, 2016</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img class="alignleft frame post_thumb" src="upload/pexels-photo-212388-150x150.jpeg" alt="" /></a>
                                                </div><a href="#">7 Tips For Nomads On A Budget Trips</a>
                                                <div class="post_attribute">December 10, 2016</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img class="alignleft frame post_thumb" src="upload/pexels-photo-24484-150x150.jpg" alt="" /></a>
                                                </div><a href="#">Taking A Travel Blog Victory Lap</a>
                                                <div class="post_attribute">December 10, 2016</div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="grandtour_flickr-9" class="widget Grandtour_Flickr">
                                        <h2 class="widgettitle">Recent Trips</h2>
                                        <ul class="flickr">
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/28760131762_e4a64b20c4_q.jpg" alt="Buddha Sunrise in Borobudur, Magelang, Central Java, Indonesia" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/27308262031_a6ebf0572e_q.jpg" alt="Gentoo Penguins, Falkland Islands (Islas Malvinas), British Overseas Territory" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/27287965356_60355f51d7_q.jpg" alt="Aerial View of Singapore CBD Skyline, Marina Bay Esplanade and Raffles Place, Singapore" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/27138570412_d25002a5c9_q.jpg" alt="View Of Sugarloaf Mountain, Botafogo And The City of Rio De Janeiro, Brazil, South America" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/26520497604_1df03a02bc_q.jpg" alt="Sacre Coeur (Basilica of the Sacred Heart of Paris), Paris, France :: HDR" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/27012097142_f1511b67bc_q.jpg" alt="The Great Gate (Darwaza-i rauza) of Taj Mahal, Agra, Uttar Pradesh, India :: HDR" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/26484150103_b5f5f154ec_q.jpg" alt="Emerald Lake From South Klondike Highway, Southern Yukon, Canada :: HDR" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/26464425264_12199828d4_q.jpg" alt="View of The Elizabeth Tower (Big Ben), Palace of Westminster and London Eye, London, England, United Kingdom" width="75" height="75" /></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="#"><img src="upload/26323295363_00eef6e96f_q.jpg" alt="View Of Iguazu Falls From Brazilian Side, Parana State, South America" width="75" height="75" /></a>
                                            </li>
                                        </ul>
                                        <br class="clear" />
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <br class="clear" />
                    </div>
                </div>

            </div>
            <!-- End main content -->

        </div>
    </div>
    <br class="clear" />
