        <div id="page_caption" class=" ">

            <div class="page_title_wrapper">
                <div class="page_title_inner">
                    <h1>Gallery</h1>
                    <div class="page_tagline">
                        This is sample of gallery excerpt and you can set it up using gallery option </div>
                </div>
            </div>
        </div>
        <!-- Begin content -->

        <div id="page_content_wrapper" class="">
            <div class="inner">

                <div class="inner_wrapper nopadding">

                    <div id="page_main_content" class="sidebar_content full_width nopadding fixed_column">

                        <div id="portfolio_filter_wrapper" class="gallery four_cols portfolio-content section content clearfix" data-columns="4">

                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated1" data-id="post-1">

                                    <a data-caption="Emotional discomfort, when accepted, rises, crests and falls in a series of waves." class="fancy-gallery" href="upload/pexels-photo-24377.jpg">
                                        <img src="upload/pexels-photo-24377-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated2" data-id="post-2">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/pexels-photo-96420.jpeg">
                                        <img src="upload/pexels-photo-96420-500x500.jpeg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated3" data-id="post-3">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/Tokyo_Dollarphotoclub_72848283-copy.jpg">
                                        <img src="upload/Tokyo_Dollarphotoclub_72848283-copy-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated4" data-id="post-4">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/venice-WBEUROCITIES16.jpg">
                                        <img src="upload/venice-WBEUROCITIES16-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated5" data-id="post-5">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/pexels-photo-197657.jpeg">
                                        <img src="upload/pexels-photo-197657-500x500.jpeg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated6" data-id="post-6">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/bf1202aedf2c5b6a57d379575619a488.jpg">
                                        <img src="upload/bf1202aedf2c5b6a57d379575619a488-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated7" data-id="post-7">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/pexels-photo-24484.jpg">
                                        <img src="upload/pexels-photo-24484-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated8" data-id="post-8">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/39267772-prague-wallpapers.jpg">
                                        <img src="upload/39267772-prague-wallpapers-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated9" data-id="post-9">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/pexels-photo-225630.jpeg">
                                        <img src="upload/pexels-photo-225630-500x500.jpeg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated10" data-id="post-10">

                                    <a data-caption="" class="fancy-gallery" href="upload/1600x1200-4.jpg">
                                        <img src="upload/1600x1200-4-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated11" data-id="post-11">

                                    <a data-caption="" class="fancy-gallery" href="upload/santorini_1.jpg">
                                        <img src="upload/santorini_1-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated12" data-id="post-12">

                                    <a data-caption="" class="fancy-gallery" href="upload/pexels-photo-131729.jpeg">
                                        <img src="upload/pexels-photo-131729-500x500.jpeg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated13" data-id="post-13">

                                    <a data-caption="Emotional discomfort, when accepted, rises, crests and falls in a series of waves." class="fancy-gallery" href="upload/pexels-photo-115070.jpeg">
                                        <img src="upload/pexels-photo-115070-500x500.jpeg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated14" data-id="post-14">

                                    <a data-caption="" class="fancy-gallery" href="upload/Luggage-Factory-The-Travel-Experts-Destinations-Miami-Flordia-Beach-3.jpg">
                                        <img src="upload/Luggage-Factory-The-Travel-Experts-Destinations-Miami-Flordia-Beach-3-500x500.jpg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated15" data-id="post-15">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/pexels-photo-212388.jpeg">
                                        <img src="upload/pexels-photo-212388-500x500.jpeg" alt="" />

                                    </a>

                                </div>

                            </div>
                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated16" data-id="post-16">

                                    <a data-caption="The road to success and the road to failure are almost exactly the same" class="fancy-gallery" href="upload/pexels-photo-211051.jpeg">
                                        <img src="upload/pexels-photo-211051-500x500.jpeg" alt="" />

                                    </a>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <br class="clear" />
        </div>




    </div>

