   <div id="footer" class=" ppb_wrapper">
        <ul class="sidebar_widget three">
            <li id="text-2" class="widget widget_text">
                <h2 class="widgettitle">Our Awards</h2>
                <div class="textwidget">
                    <p>London is a megalopolis of people, ideas and frenetic energy. The capital and largest city of the United Kingdom.
                        <br />
                        <img src="~/upload/awards.png" width="246" height="113" style="margin-top:30px;" alt="" /></p>
                </div>
            </li>
            <li id="text-4" class="widget widget_text">
                <h2 class="widgettitle">Contact Info</h2>
                <div class="textwidget">
                    <p><span class="ti-mobile" style="margin-right:10px;"></span>1-567-124-44227</p>
                    <p><span class="ti-location-pin" style="margin-right:10px;"></span>184 Main Street East Perl Habour 8007</p>
                    <p><span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00 Sunday CLOSED</p>
                    <div style="margin-top:20px;">
                        <div class="social_wrapper shortcode dark ">
                            <ul>
                                <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="pinterest"><a target="_blank" title="Pinterest" href="https://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                                <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/theplanetd"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li id="grandtour_flickr-7" class="widget Grandtour_Flickr">
                <h2 class="widgettitle">Recent Trips</h2>
                <ul class="flickr">
                    <li>
                        <a target="_blank" href="#"><img src="~/upload/28760131762_e4a64b20c4_q.jpg" alt="Buddha Sunrise in Borobudur, Magelang, Central Java, Indonesia" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="~/upload/27308262031_a6ebf0572e_q.jpg" alt="Gentoo Penguins, Falkland Islands (Islas Malvinas), British Overseas Territory" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="~/upload/27287965356_60355f51d7_q.jpg" alt="Aerial View of Singapore CBD Skyline, Marina Bay Esplanade and Raffles Place, Singapore" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="~/upload/27138570412_d25002a5c9_q.jpg" alt="View Of Sugarloaf Mountain, Botafogo And The City of Rio De Janeiro, Brazil, South America" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="~/upload/26520497604_1df03a02bc_q.jpg" alt="Sacre Coeur (Basilica of the Sacred Heart of Paris), Paris, France :: HDR" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="~/upload/27012097142_f1511b67bc_q.jpg" alt="The Great Gate (Darwaza-i rauza) of Taj Mahal, Agra, Uttar Pradesh, India :: HDR" width="75" height="75" /></a>
                    </li>
                </ul>
                <br class="clear" />
            </li>
        </ul>
    </div>

    <div class="footer_bar  ppb_wrapper ">

        <div class="footer_bar_wrapper ">
            <div class="menu-footer-menu-container">
                <ul id="footer_menu" class="footer_nav">
                    <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
                    <li class="menu-item"><a href="tours.html">Tours</a></li>
                    <li class="menu-item"><a href="blog.html">Blog</a></li>
                    <li class="menu-item"><a href="#">Purchase Template</a></li>
                </ul>
            </div>
            <div id="copyright">© Copyright GTour Template Demo</div>
            <br class="clear" />
            <a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>

    <div id="backToTop">
        <a href="body" data-animate-scroll="true">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <div id="mp-notification-BYO9qQy9Pn" class="mp-notification-element-wrapper ">
        <div class="mp-notification-element-button-wrapper">
            <div class="mp-notification-element ">
                <a href="javascript:void(0)" id="mp-notification-button-open">
                    <img src="https://static.mepuzz.com/images/bell-icon.png" class="mp-notification-element-button-img">
                </a>
                <span class="mp-notification-element-button-count">3</span>
            </div>
        </div>
    </div>

    <div class="autoAdsMaxLead-widget auto-ads-ml-desktop auto-ads-ml-has-powered-by" style="">
        <div class="autoAdsMaxLead-widget-style1">
            <div id="autoAdsMaxLead_widget_button_group" class="float-btn-group autoAdsMaxLead-widget-button-bottom-right open" style="right:22px;bottom:75px;">
                <div class="autoAdsMaxLead-widget-btn-list">
                    <div id="autoAdsMaxLead-widget-btn-google_map" class="autoAdsMaxLead-widget-btn-float-container autoAdsMaxLead-widget-tooltip"><a href="javascript:void(0);" class="autoAdsMaxLead-widget-btn-float google-map-color autoAdsMaxLead-widget-menu-google-map" data-action="autoAdsMaxLeadOpenGoogleMapPopup();"><span class="autoadsmaxlead_button_tap"></span></a><div class="autoAdsMaxLead-widget-tooltiptext autoAdsMaxLead-widget-tooltiptext-style1-bottom-right" onclick="document.querySelector('.autoAdsMaxLead-widget-menu-google-map').click();" style="cursor: pointer;  background-color: rgba(9, 44, 172, 0.7); color: #FFF;right:0px ">Xem địa chỉ doanh nghiệp</div></div><div id="autoAdsMaxLead-widget-btn-contact_form" class="autoAdsMaxLead-widget-btn-float-container autoAdsMaxLead-widget-tooltip"><a href="javascript:void(0);" class="autoAdsMaxLead-widget-btn-float contact-form-color autoAdsMaxLead-widget-menu-contact-form" data-action="autoAdsMaxLeadOpenContactPopup();"><span class="autoadsmaxlead_button_tap"></span></a><div class="autoAdsMaxLead-widget-tooltiptext autoAdsMaxLead-widget-tooltiptext-style1-bottom-right" onclick="document.querySelector('.autoAdsMaxLead-widget-menu-contact-form').click();" style="cursor: pointer;  background-color: rgba(9, 44, 172, 0.7); color: #FFF;right:0px ">Để lại lời nhắn cho chúng tôi</div></div><div id="autoAdsMaxLead-widget-btn-click_to_call" class="autoAdsMaxLead-widget-btn-float-container autoAdsMaxLead-widget-tooltip"><a href="javascript:void(0);" class="autoAdsMaxLead-widget-btn-float click-to-call-color autoAdsMaxLead-widget-menu-click-to-call" data-action="autoAdsMaxLead_widget_current_channel = 'click_to_call';autoAdsMaxLeadOpenClickToCallPopup()"><span class="autoadsmaxlead_button_tap"></span></a><div class="autoAdsMaxLead-widget-tooltiptext autoAdsMaxLead-widget-tooltiptext-style1-bottom-right" onclick="document.querySelector('.autoAdsMaxLead-widget-menu-click-to-call').click();" style="cursor: pointer;  background-color: rgba(9, 44, 172, 0.7); color: #FFF; ">Gọi ngay</div></div><div id="autoAdsMaxLead-widget-btn-zalo" class="autoAdsMaxLead-widget-btn-float-container autoAdsMaxLead-widget-tooltip"><a href="javascript:void(0);" class="autoAdsMaxLead-widget-btn-float zalo-color autoAdsMaxLead-widget-menu-zalo" data-action="autoAdsMaxLeadSaveAction('zalo','action');autoAdsMaxLeadOpenExternalLink(''+autoAdsMaxLeadGetZaloUrl()+'')"><span class="autoadsmaxlead_button_tap"></span></a><div class="autoAdsMaxLead-widget-tooltiptext autoAdsMaxLead-widget-tooltiptext-style1-bottom-right" onclick="document.querySelector('.autoAdsMaxLead-widget-menu-zalo').click();" style="cursor: pointer;  background-color: rgba(9, 44, 172, 0.7); color: #FFF; ">Chat với chúng tôi qua Zalo</div></div><div id="autoAdsMaxLead-widget-btn-facebook" class="autoAdsMaxLead-widget-btn-float-container autoAdsMaxLead-widget-tooltip">
                       
                        
                    </div><div onclick="gotoWidgetLandingPage()" style="top: -210px;left: -3px;" class="auto-ads-ml-powered-by">powered by <b>AutoAds</b></div>
                </div>
            </div>
        </div>
    </div>  