 <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>
<!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                    <li class="menu-item current-menu-item"><a href="index.html">Trang Chủ</a></li>
                    <li class="menu-item menu-item-has-children arrow"><a href="#">Tour</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-has-children arrow"><a href="/danhsachtour">Tour Nước Ngoài</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/tour/chitiettour">Singapore</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Malaysia</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Đài Loan</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Nhật Bản</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Hàn Quốc</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Thái Lan</a></li>
                                </ul>
                            </li>

                            <li class="menu-item menu-item-has-children arrow"><a href="/danhsachtour">Tour Trong Nước</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/tour/chitiettour">Vịnh Hạ Long</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Nha Trang</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Miền Tây</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Hà Giang</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Đà Lạt</a></li>
                                    <li class="menu-item"><a href="/tour/chitiettour">Sapa</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="the-new-california.html">Booking</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-has-children"><a href="#">Online Payment for Booking</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="grand-switzerland.html">Variable Tour Pricing</a></li>
                                    <li class="menu-item"><a href="swiss-alps-trip.html">Simple Tour Pricing</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="#">Custom Booking Form</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="the-new-california.html">Booking Form + Sub Tour Date</a></li>
                                    <li class="menu-item"><a href="niko-trip.html">Booking Form + Custom Date</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="#">Tour Durations</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="hong-kong.html">Single Day Tour</a></li>
                                    <li class="menu-item"><a href="grand-switzerland.html">Multiple Days Tour</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="menu-item "><a href="#">Thanh Toán</a></li>
                    <li class="menu-item"><a href="#">Đặt Tour</a></li>
                    <li class="menu-item menu-item-has-children arrow"><a href="#">Giới Thiệu</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="blog-right-sidebar.html">Hồ Sơ Năng Lực</a></li>
                            <li class="menu-item"><a href="blog-left-sidebar.html">Chính Sách</a></li>
                            <li class="menu-item"><a href="blog-fullwidth.html">Liên Hệ</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">Lịch Khởi Hành</a></li>
                    <li class="menu-item"><a href="#">Tin Tức</a></li>


                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            <div class="page_content_wrapper">
                <div class="sidebar_wrapper">
                    <div class="sidebar">

                        <div class="content">

                            <ul class="sidebar_widget">
                                <li id="grandtour_tour_posts-10" class="widget Grandtour_Tour_Posts">
                                    <h2 class="widgettitle"></h2>
                                    <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(~/upload/pexels-photo-131729-700x466.jpeg);">
                                        <a class="tour_image" href="#"></a>
                                        <div class="portfolio_info_wrapper">
                                            <div class="tour_price ">
                                                $3,900 </div>
                                            <h5>Swiss Alps Trip</h5>
                                            <div class="tour_attribute_wrapper">
                                                <div class="tour_attribute_rating">
                                                    <div class="br-theme-fontawesome-stars-o">
                                                        <div class="br-widget">
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br class="clear" />
                                    <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(~/upload/pexels-photo-225630-700x466.jpeg);">
                                        <a class="tour_image" href="#"></a>
                                        <div class="portfolio_info_wrapper">
                                            <div class="tour_price has_discount">
                                                <span class="normal_price">
                                        $4,900                                  </span> $4,200 </div>
                                            <h5>5 Lake of Fuji San</h5>
                                            <div class="tour_attribute_wrapper">
                                                <div class="tour_attribute_rating">
                                                    <div class="br-theme-fontawesome-stars-o">
                                                        <div class="br-widget">
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;" class="br-selected"></a>
                                                            <a href="javascript:;"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br class="clear" />
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
            <!-- End side menu sidebar -->

            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                    <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="pinterest"><a target="_blank" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="#"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu -->

    <!-- Begin template wrapper -->
    <div id="wrapper" class="hasbg transparent">

        <div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="index.html">
                                    <img src="~/upload/awards.png" alt="" height="60" />
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="index.html">
                                    <img src="~/upload/awards.png" alt="" height="60" />
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children arrow"><a href="/">Trang Chủ</a>
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow"><a href="/danhsachtour">Tour Nước Ngoài</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="/tour/chitiettour">Singapore</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Malaysia</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Đài Loan</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Nhật Bản</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Hàn Quốc</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Thái Lan</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow"><a href="/danhsachtour">Tour Trong Nước</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="/tour/chitiettour">Vịnh Hạ Long</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Nha Trang</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Miền Tây</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Hà Giang</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Đà Lạt</a></li>
                                                        <li class="menu-item"><a href="/tour/chitiettour">Sapa</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item "><a href="/thuvienhinh">Thư Viện Hình</a></li>
                                                <li class="menu-item menu-item-has-children arrow"><a href="#">Giới Thiệu</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="blog-right-sidebar.html">Hồ Sơ Năng Lực</a></li>
                                                        <li class="menu-item"><a href="blog-left-sidebar.html">Chính Sách</a></li>
                                                        <li class="menu-item"><a href="blog-fullwidth.html">Liên Hệ</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item"><a href="/listnews">Tin Tức</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button">

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>